[2019-04-24 16:30] esbvaGames opened #8 "Video for instalation, make DataBase, call, and recoverdata !!"
Hello:
        Please put a video, by all steps, for instalations, make database, and recover data, chat, analitics, etc !!!

thanks !!!

[2019-05-11 16:10] WolfgangSenff commented on #8
It's coming soon! I'm going to be working with Pigdev on a couple videos showing how to use everything, including setup from the very beginning. However, analytics aren't supported yet. Everything else will be great. :)

[2019-05-11 16:10] #8 closed

[2019-05-21 10:36] Winprox opened #9 "HTTPSSEClient Assertion failed."
Hey, I am getting on "Assertion failed." error after trying to "get_database_reference".

![image](https://user-images.githubusercontent.com/16071244/58088980-7a7bf680-7bcc-11e9-8153-700b9e3d5cbf.png)

UPD: It was purely a Firebase related issue.

[2019-05-23 23:05] #9 closed

[2019-05-25 17:01] salihkallai commented on #9
How to fix it?

[2019-05-25 19:14] Winprox commented on #9
It was due to my Firebase Relatime Database Rules. To check if your issue is the same try debugging response you are getting from Firebase. In my case it was Permission Denied.

[2019-05-30 22:27] leandrodreamer opened #11 "Error in "_route_data(command, data.path, data.data)""
in the function on_new_sse_event(headers, event, data): in FirebaseReference.gd "data" comes as an string, then data.path and data.data in _route_data(command, data.path, data.data) fails
i think that can be fixed just likle this: _route_data(command, parse_json(data).path, parse_json(data).data) or in HTTPSSEClient.gd emit_signal("new_sse_event", headers, event_data.event, parse_json(event_data.d

[2019-06-23 19:40] MasterPolska123 opened #13 "Other functions"
As far as possible, add other functions such as logging in and registering in with all FireBase-supported methods and restoring the user account password

[2019-06-26 13:51] MasterPolska123 opened #14 "Bugs"
I had a few bugs:
1. When the account was registered, nothing happened and when I clicked the "Login" button
the "INVAILD_PASSWORD" error popped up, although I did not change anything :(.
2. How I managed to register (still in the login "INVAILD_PASSWORD" pops up) the "Assertion Failed" pops up in the debugger. After omitting this error, "Invalid get index 'event' appears (on base: 'Nil')."
All er

[2019-07-07 14:52] WolfgangSenff commented on #14
That's odd. I'm not sure what's up with that, aside from the typo in "INVALID". :P I have had no issues with this though - can you provide reproduction steps precisely?

[2019-07-07 14:53] WolfgangSenff commented on #11
I believe this should already be fixed. I'm not sure why you're seeing it. Wondering if my submodule trickery didn't work the way I intended. Let me check and make sure.

[2019-07-07 14:55] WolfgangSenff commented on #13
I'm not sure what you mean. You can login and all that stuff just fine right now, as far as my tests can tell.

[2019-07-08 18:39] MasterPolska123 commented on #14
I do not have this error anymore. It seems that windows found that the internet below 1 mb / s is broken and for half an hour I did not really have any internrter, but the connection icon indicated that everything is ok.

[2019-07-08 18:39] #14 closed

[2019-07-08 18:44] MasterPolska123 commented on #13
I mean login through other websites listed on

https://console.firebase.google.com/project/<projest-name>/authentication/providers

for example facebook. You know - you can login to many websites via google and facebook. And the ability to change the password through the game. I would be very grateful. I will soon do a Polish tutorial on this add-on for your YouTube channel.

[2019-07-19 18:57] WolfgangSenff commented on #13
Ah I see. I will consider implementing it, but I'm in the middle of a big move (as in a physical move to a new apartment). I'll look into it when I'm settled a bit next month, most likely. It's a good suggestion though, so leaving it open.

[2019-07-19 18:58] WolfgangSenff commented on #11
As best I can tell, this is already resolved. Please make sure you get latest and if it's still an issue, come back and re-report it. I'm going to close this for now.

[2019-07-19 18:58] #11 closed

[2019-07-19 18:58] WolfgangSenff commented on #13
Oh, and I should mention, I do accept PRs. Feel free to give it a shot. :)

[2019-07-28 17:55] MasterPolska123 commented on #13
One more thing... could you add comments to the scripts (for example GDFirebase / FirebaseStorage.gd) explaining what (in 'upload' and 'download' and 'upload' functions) are the values like like 'obj', 'folder_path', 'file_name'.
Good luck with this Godot addon. Is fantastic.

Translated with Google Translate

[2019-09-22 14:01] MasterPolska123 opened #16 "Comments in scripts"
I have a request. Add comments to each function with examples for each argument. Otherwise. I do not understand in which argument to enter the file name / path of the file that I want to send / download from the Firebase Storage server. Would you be willing to write an example in the comment on how to send / download a file to / from Firebase Storage? I need this in my online scoreboard in game. A

[2019-11-21 14:53] BearDooks commented on #16
@MasterPolska123 , While it is not done yet I have been working to comment some of the code and write up some docs on how this plugin works. I just got some new items working and I am currently writing up the docs for it. Hopefully after it is done you can at least get this into your game and test it out

[2019-11-21 16:19] MasterPolska123 commented on #16
Thanks. It will be very helpful for me and other users.

czw., 21 lis 2019, 15:53 użytkownik Chuck <notifications@github.com>
napisał:

[2020-02-27 18:33] japalekhin opened #21 "Any chance for FB and Twitter auth for Android and iOS?"
Hey, is there any chance for FB and Twitter sign in any time soon?

[2020-02-28 14:30] Montecri opened #22 "Firebase Analytics"
Hello,

Does it support analytics?

Thanks!

[2020-03-27 14:39] japalekhin commented on #13
@WolfgangSenff hey man, any word on FB/G login?

[2020-03-30 20:04] c0ppo commented on #13
@WolfgangSenff

Hi. Is this plugin still in active development?
Please provide for something like patreon, so people like me who are REALLY interested in you completing the plugin + documentation can donate.

I would donate for a completed plugin without any hesitation. And since this is the only plugin that supports all platforms, I think you will find that there are more people like me.

Best re

[2020-03-31 14:15] lentsius-bark commented on #13
I support the words of the previous poster. A plugin such as this one is a key component of many potential projects.

[2020-03-31 14:39] WolfgangSenff commented on #13
I have provided them before - must not be on the readme, doh! My mistake. There are limitations though - for instance, storage cannot be implemented (it's not really a Firebase product - it's a loose wrapping around Google Cloud stuff, and there's no REST API for it, or it's extremely convoluted; I'd consider researching it again though if it's a game-changer). I'll be adding my Patreon/Ko-fi pres

[2020-03-31 14:51] WolfgangSenff commented on #22
Unfortunately, Firebase does not have a REST API for analytics.

[2020-03-31 14:51] #22 closed

[2020-03-31 14:54] WolfgangSenff commented on #21
This should already be supported - you just have to follow the setup instructions for (for example) Facebook found in the Authentication tab in the Firebase Console. Once you've completed that, login should work the same way - the login flow happens in the Firebase Auth backend, or so I understand it.

[2020-03-31 14:54] #21 closed

[2020-03-31 14:55] #16 closed

[2020-03-31 14:55] WolfgangSenff commented on #16
A friend and I have gone through and added many comments. Hopefully they're helpful!

[2020-03-31 14:58] WolfgangSenff commented on #13
I have updated the readme. I will attempt to update this plugin again over the upcoming weekend or so, in order to account for the remaining user authentication needs such as changing password and such. That said, it already supports Facebook and other logins, as far as I can tell - you just need to have them setup correctly in the Authentication tab in the Firebase Console. I'm closing this for n

[2020-03-31 14:58] #13 closed

[2020-03-31 15:00] japalekhin commented on #21
ahh really? i'll check it out.

[2020-03-31 15:00] japalekhin commented on #21
thanks, by the way!

[2020-03-31 15:25] WolfgangSenff commented on #21
It should! If it doesn't, definitely please come back and put another issue in and I'll look into it. Everything I've found regarding it though says it all happens through Firebase auth, and not specifically Facebook/whatever auth. I think they just provide the logic behind-the-scenes to make it easier to use.

[2020-04-20 15:21] Saxito opened #23 "Firebase storage"
Hi,

I just want to know if it's works for firebase storage ans if the plugin works on android

thanks

[2020-04-21 14:26] WolfgangSenff commented on #23
Firebase Storage does not have a REST API that is readily available, unfortunately, so that's out. There's a way to integrate it through Google Cloud, but is not part of this plugin.

This plugin is usable across all possible platforms, with only the possible exception of HTML; the only reason I do not know if it works with HTML is because HTML uploading has never worked for me, and nothing I do s

[2020-04-22 14:15] #23 closed

[2020-06-02 07:08] h1p3rcub3 opened #24 "Invalid call. Nonexistent function 'connect_to_host' in base 'Node'."
I get this error when trying to set a listener to Firebase.Database.get_database_reference().

The error is in line 55 of FirebaseReference.gd:55.
[code]
The function receives a listener_ref of type Node, which doesn't have the "connect_to_host" method.

[2020-06-02 07:16] h1p3rcub3 commented on #24
Please ignore me. I download the plugin but didn't realize that the HTTPSSEClient folder was empty.

[2020-06-02 07:16] #24 closed

[2020-07-05 15:14] JOELwindows7 opened #27 "[FATAL!!! URGENT Security Issue] Firebase Config file is loaded in hard code way..."
# And that creates big security problem.
- This plugin reads the config in `Firebase.gd`, which means hard coded, instead of doing so from separate `.gitignore`-able file
- Developer will forgot to `.gitignore` this,
- which can cause the private keys (like **Google API keys**) in that config spread wild and could be abused if they decided to make their game anything source available (Open Source,

[2020-07-06 16:28] fenix-hub commented on #27
Hi, I'm not the owner / creator of this repository, but recently I've pushed some changes and I'll do the same in the future for sure.
Just wanted to point out that currently API keys are not hardcoded. The dictionary inside the `Firebase.gd` is just a placeholder and it is not mandatory to fulfill.
With my last commit the things you describe could be already achieved, even though there is not an

[2020-07-08 14:28] BabeleDunnit opened #28 "Demo project not immediately working"
I am trying to run the demo project by cloning (I also correctly updated the HTTPSSEClient submodule in res://addons/GDFirebase/HTTPSSEClient) and scanning the folder. A project named TestFirebaseJS has been located. I initialized everything on Firebase and I am actually logging in and creating an user on Firebase, so it seems to work.

Immediately after the login/user creation I am getting an err

[2020-07-09 22:50] WolfgangSenff commented on #27
Actually, you're both wrong. 🤣 In Firebase, the keys are often totally public. You should be properly securing your app through security rules, *not* the config file. See Doug Stevenson's (one of Firebase's project leads) answer here: https://stackoverflow.com/questions/52100690/should-i-hide-firebase-api-keys-into-backend-not-due-to-data-security-but-proje

This is the same advice they give all o

[2020-07-09 22:50] #27 closed

[2020-07-09 22:53] WolfgangSenff commented on #28
Submodules suck. I'm never using them again. Next time I'll find a better way to handle them.

Regarding the other bit, I'll check it out - I merged a PR when I didn't have the ability to double check the demo. Sorry about that. In fact, I'll likely just upload a proper demo, the current one is dumb. Leaving the open to remind me to do it when I have a chance. Thanks!

[2020-07-10 09:46] BabeleDunnit commented on #28
I see. In the meanwhile, could you just just show me a commit before the mentioned merge where the demo was supposed to work? I would like to experiment a bit... thanks!

[2020-07-10 12:42] WolfgangSenff commented on #28
Actually, there's a simple fix as far as I can tell. Unfortunately, my home computer just blew up (literally) and I'm not allowed to put Godot on my work computer, so I can't test this with absolute certainty, but someone else who was trying it found that if you go into the file you reference and simply delete that line, it works. I know he was able to login at least (and run of course)!

[2020-07-10 12:43] WolfgangSenff commented on #28
Seems that was one place I missed when sanitizing my old code of Storage references. I'd attempted to implement it in the past, but after talking with the Firebase team, they deemed Firestore to not be performant enough for any real game purposes aside from, like, settings and what not, and that's not why I built this plugin, so I thought I'd removed it. But then someone sent me a PR and I was hap

[2020-07-10 18:46] WolfgangSenff commented on #28
I have updated the Demo to work properly.

[2020-07-10 18:46] #28 closed

[2020-07-16 18:08] Nv7-GitHub opened #30 "Invalid call. Nonexistent function 'connect_to_host' in base 'Node'."
When I tried to get a database reference, I get the error ```Invalid call. Nonexistent function 'size' in base 'bool'.```
I have placed no filters.
Godot version: 3.2.2, no mono support
Full error:
[code]

[2020-07-27 17:00] Hedronmx opened #31 "How to check if user is logged in?"
I want to check if user is logged in for both chat online presence and security reasons.

[2020-07-27 17:08] Hedronmx opened #32 "How to check user uid?"
I want to pull from a database that uses the users uid for information

[2020-07-27 17:10] #32 closed

[2020-07-27 17:37] #31 closed

[2020-07-29 20:24] WolfgangSenff commented on #30
Hm. What do you mean by you placed no filters? Did you pass an empty set of filters, i.e. {}, or null?

[2020-08-17 15:49] JOELwindows7 opened #33 "Firestore doesn't work"
I have problem when doing with Firebase Database. I have been figuring out what was going on with it, by analyzing this addon, for why doesn't it work.

The Auth here works, but The Firestore no longer works. I even tried the demo if I made wrong, but infact **The demo also no longer works for updloading firebase**

I have tried different method to do with Firebase, by trying the simpler script fo

[2020-08-26 17:23] WolfgangSenff commented on #33
You're actually looking in the wrong place. Firestore is not implemented via references. References are used only for the realtime database from Firebase. Look at FirebaseFirestore.gd, FirebaseFirestoreDocument.gd, and FirebaseFirestoreCollection.gd and you might get a better understanding of how to use it.

Also, GDQuest's version does not properly handle streamed updates, from what I remember. I

[2020-08-26 17:23] #33 closed

[2020-09-18 15:25] martinpelli commented on #30
hi, can you explain what does this plugin do? I don´t inderstand step 4, I only want to connect firebase to my game on iOS  and Android

[2020-09-20 09:38] insydeAFK commented on #30
Hi, do you will add AdMob, Ads, etc in future?.
Btw. great work! Thanks.

[2020-09-20 13:21] WolfgangSenff commented on #30
@insydeAFK - Admob does not have a REST API as far as I know. One exists to do things like managing Admob statistics and crap like that, but nothing as far as I know to actually implement it on the platform, which is very painful. I definitely want to, but I keep lobbying them to create one and they won't.

[2020-09-20 13:22] WolfgangSenff commented on #30
@martinpelli - There's a *picture* of what to do in step 4. If you don't know what the plugin does, it's best you go research Firebase to try to understand cloud-based databases and then come back, download it, and follow the instructions.

[2020-09-20 13:22] #30 closed

[2020-09-20 14:46] insydeAFK commented on #30
Can you help me how to get a document?
Without you plugin I have used: "Firebase.get_document("users/%s" % Firebase.user_info.id, http)"
How to do with your pulgin? Thanks.

[2020-09-26 22:21] WolfGames opened #34 "Error code is always 400"
When app detect any error it always have code 400 but error message is ok.

but anyway....
THIS PLUGIN IS AWESOME!!!!!!!!!!!!!!!!!!
I finaly found easy to use advanced firebase plugin!

[2020-09-27 12:41] WolfGames opened #35 "How to set user display name?"
I want to change  user DisplayName
How?

bruh i dont know how to add label "help wanted" to this

[2020-09-30 11:14] Zarasan opened #36 "Refresh Token Missing"
I get missing refresh token after the login has timed out, how do I set it up so it refreshes while the application is opened?

[2020-10-06 09:21] JOELwindows7 opened #37 "Confused the Databasing type between Realtime Database & Cloud Firestore"
Recontinue issue #33 ...

Oh. no..

![[It works if you setup Realtime Database](https://odysee.com/@JOELwindows7:a/oopsay-firebase-wolfgangsen-works-again:7?r=GywiacPEX6284FYr8og9R8FM4LbJ71AJ)](https://odysee.com/$/download/oopsay-firebase-wolfgangsen-works-again/7bf021f4787e386c7ee7ae60ddcc05323e1581ed)

# I've misunderstood this concept of this addon the whole time. I bet people had misunderstoo

[2020-10-06 09:22] JOELwindows7 commented on #33
I have issued #37 for continuation here as I mistakenly thought it didn't work while actually it works, **but it uses Realtime Database instead**

[2020-10-06 12:13] JOELwindows7 commented on #37
# Wait, so it uses Realtime Database?
always has been

[2020-10-08 13:20] JOELwindows7 commented on #37
added edit of solution, add realtime database preparation instruction, and support for more firebase features

[2020-10-08 16:40] WolfgangSenff commented on #37
It has both Realtime Database and Firestore. I will make sure the documentation is updated to include how to use Firestore, but note that I do reference Database the entire time, and at no point do I reference Firestore. So the confusion was unfounded.

[2020-10-08 16:41] WolfgangSenff commented on #36
Hm. I would expect it to work already - it's possible there's a bug though. Thanks! I'll check it out.

[2020-10-08 16:43] WolfgangSenff commented on #35
I'm not actually sure what you're asking. You mean from the Authentication call? Typically, you'd want them to put in their own display name so they can choose what they want; then, when they are Authenticated, you'd associate their user ID from the Authentication with the name they chose, store that in the Realtime Database, and use it from that point on: when they authenticate, you then go get t

[2020-10-08 16:43] #35 closed

[2020-10-08 16:44] WolfgangSenff commented on #34
Thanks. :)

[2020-10-08 16:44] #34 closed

[2020-10-12 15:38] JOELwindows7 commented on #37
oops. I did not saw that. Now I compared with the AssetLib version (on folder `/GDFirebase`. **It already had Firestore on it**, while the Demo one (`/Demo/addons/GDFirebase`) forgot Firestore.

[2020-10-12 16:42] JOELwindows7 commented on #37
Bonus Issue!

I tried firestore.

everytime to either Add or Update, you have to insert all your data inside
[code]
which above went into parameter. It works and that means the methods did not append `fields` insertion, unlike with GDQuest tutorial, where it already conveniently inserted all push data inside `fields`. umm...

[2020-10-12 17:13] fenix-hub commented on #37
Hi @JOELwindows7 ,
Since I contributed to this plugin, and I still plan to contribute, just wanted to tell that the stuff you are reporting as "issues" are not actual issues whatsoever.

For your specific needings, the way you can resolve the "issue you are having" is just using the methods explicited and provided by this plugin:
1. Supposing you want to register a new user, build up a dictionary

[2020-10-14 13:54] #37 closed

[2020-10-15 12:42] Zarasan commented on #36
Managed to fix it for me by updating refreshtoken fields, they should all be lowercase

![image](https://user-images.githubusercontent.com/43384612/96126993-8fa9a180-0ef4-11eb-8557-56492c238515.png)

[2020-10-15 14:26] WolfgangSenff commented on #36
Doh. Okay. That's pretty ridiculous. I think it's something they changed - we have a thing which auto-lowercases every key in these responses. Mind opening a PR for this?

[2020-10-20 08:48] Zarasan opened #39 "Errors with documents with spaces"
Error when I use get function on documents with spaces
This gives error:
![image](https://user-images.githubusercontent.com/43384612/96562715-5ccf2700-12c1-11eb-8d69-761c7a096e63.png)

Error:
![image](https://user-images.githubusercontent.com/43384612/96563012-ba637380-12c1-11eb-9ec0-8ff7f63fbb28.png)

This doesn't give error:
![image](https://user-images.githubusercontent.com/43384612/96563048-c8

[2020-10-20 08:52] Zarasan commented on #39
This is my fix
![image](https://user-images.githubusercontent.com/43384612/96563467-45446e00-12c2-11eb-9a8b-fbec86eb46d0.png)

[2020-10-28 18:12] #36 closed

[2020-12-14 23:50] #39 closed

[2021-01-05 04:53] shadowdraon319 opened #49 "Integration Question"
Does this work for iOS? Also do the analytics work? Looking for something that would track conversion events for installs from Google Ads.

[2021-01-05 11:18] WolfgangSenff commented on #49
It does work for iOS, but analytics do not work yet. They are planned as best we can support them for the new year though. :) Thanks for your question! I'll leave this open briefly, until we've added this info into the wiki.

[2021-01-05 13:03] WolfgangSenff commented on #49
Okay - I've added a lot more information to the wiki. Thanks for opening the issue - feel free to open another if you have more questions. At the moment, we cannot support Firebase Analytics directly because they do not have a REST API. Ads also do not support a REST API, unfortunately.

[2021-01-05 13:03] #49 closed

[2021-01-05 13:36] WolfgangSenff opened #50 "Fix plugin paths due to recent breakage, refactor for tscn solution rather than dynamic nodes"
Recently, an update broke the paths to the http-see-client plugin in the demo as well as the main solution. It shouldn't affect how the Firebase plugin itself works, nor the demo, but it bothers me, so I'm fixing it.

Along with that, I'm refactoring the code so the singleton used is a scene rather than a script; this gets us the ability to have nodes under the parent that represent the features i

[2021-01-05 16:39] #50 closed

[2021-01-07 11:31] fenix-hub opened #54 "Align code style with the official GDScript Style Guide"
*Align code style with the official [GDScript style guide](https://docs.godotengine.org/en/stable/getting_started/scripting/gdscript/gdscript_styleguide.html).*

This will make the plugin more consistent, giving the main dev team (us) and future contributors a common *style* more than practices, without changing our way to code but just how it is presented through APIs.

*note:* heavy refactoring

[2021-01-07 11:33] fenix-hub opened #55 "Investigate implementing Firebase-UI equivalent controls across the board"
Lists already exist, though only for Realtime Database; try to see if it's possible to swap backend for Firestore as well (make them interchangeable through an interface if possible).

[2021-01-07 11:51] fenix-hub opened #56 "Investigate adding plugin configuration through a designer-based control."
Create repositories backed by either the Realtime Database or Firestore. Point-and-click interface should allow creation of special Firebase objects that can then be created/retrieved in the backend repository. See https://www.youtube.com/watch?v=1a9O67xg3l0 for how this might look.

[2021-01-08 15:09] fenix-hub commented on #54
In order to follow the (official) *GDscript style guide*, major and minor refactoring will be accomplished.

**Major refactoring:**
Regarding `addons/godot-firebase/` folder structure, naming conventions for functions.
1. The current folder structure consists of in a single folder which contains unorganized files, regarding singletons, single-instance, modules, scripts and scene.
Keeping this stru

[2021-01-08 18:01] BearDooks opened #58 "Investigate adding new authentication features to the FirebaseAuth script"
Currently we are missing small things like the ability to edit emails or passwords. Firebase has everything listed in the REST API we can do.

We should look into adding

* Change user email
* Change user password
* Reset a lost password
* Delete user account

https://firebase.google.com/docs/reference/rest/auth#top_of_page

[2021-01-08 18:25] fenix-hub commented on #56
![photo_2021-01-07_13-58-40](https://user-images.githubusercontent.com/45271396/104050623-2da4c380-51e7-11eb-8879-ac4e73bad833.jpg)
![photo_2021-01-07_13-58-42](https://user-images.githubusercontent.com/45271396/104050626-2ed5f080-51e7-11eb-8ba6-68efd1c5650b.jpg)
![photo_2021-01-07_13-58-44](https://user-images.githubusercontent.com/45271396/104050627-2ed5f080-51e7-11eb-979b-bf1e9199ba2e.jpg)

- S

[2021-01-08 18:26] fenix-hub commented on #56
![firebase](https://user-images.githubusercontent.com/45271396/104050720-55942700-51e7-11eb-8ff2-24e512aea66f.png)

[2021-01-09 12:55] fenix-hub opened #59 "Add proper request queuing to Firestore"

[2021-01-09 13:24] fenix-hub commented on #59
A snippet for the implementation:
[code]

**note:** this is a temporary solution. A proper scalable solution will be implemented by @WolfgangSenff

[2021-01-10 18:56] #58 closed

[2021-01-19 09:39] #59 closed

[2021-01-19 09:41] #54 closed

[2021-01-19 19:13] tommasodargenio opened #63 "Missing API Key error message with Google Auth enabled"
I'm trying this plugin out for an upcoming project. However, I'm having some issues with the login process using an existing Google account.

In my firebase app, I've enabled the google authentication integration, and I have been given both web client ID and secret, but I can't see a way to add this in the plugin.

When I try to login (using Firebase.Auth.login_with_email_and_password) I get a 403

[2021-01-19 19:25] fenix-hub commented on #63
Hi,
Currently changing plugin settings' values within Project Settings is not working.
Sadly it doesn't depend by us, but it is a Godot limit/bug.

To easily overcome this problem, just replace all the values inside the `override.cfg` file you will find in the root of your project.
Once added, **reload the project** and you will se that all values are correctly stored in Project Settings.

[2021-01-19 20:16] tommasodargenio commented on #63
Thanks for the fast response. That worked, however, it seems the plugin only implements the sign-in with email and password and not OAuth (accounts:signInWithIdp). Unless I'm missing something, but I can't find this API endpoint in the FirebaseAuth class.

Did anybody make any attempt at implementing this?

Thanks

[2021-01-19 22:30] fenix-hub commented on #63
Yes you are right, the implementation is missing for that.
We'll manage to add it (and a few others) with the next update, maybe tomorrow :)

Do you thing is there any other useful API implementation that is missing?

[2021-01-19 22:46] tommasodargenio commented on #63
I'm happy to hear that you are planning to deploy that so soon :)

I don't know at this point what other features may be helpful as I need to play around with it a bit to see how it fits in my plan, I'll make sure to raise it here in case there is something else I think that could be useful.

Looking forward to seeing the update :)

Cheers

[2021-01-19 22:46] #63 closed

[2021-01-20 17:09] mjfgames opened #65 "Can't get document with .get()"
Hi, I can't get document from collection, which already exists (I created document on Firebase side)
Collection name is 'allusers' and document name is 'admin'

[code]
I noticed that in firestore.gd, `collections` variable is also Null:

[code]

which is incorrect as collection and all data exists.

[2021-01-20 17:49] fenix-hub commented on #65
Hi @mjfgames ,
The method you are using to get a document is not completely correct.
If you followed the example in the documentation, it actually is incorrect and we will fix it immediately.

When you call the `.get()` function on a collection the document is not immediately returned, since an HTTPRequest needs to be issued, and you need to wait for it to return.
So, to properly get a document, y

[2021-01-20 21:55] mjfgames commented on #65
Okay, after implementing code it still didn't work, but I figured out there was a bug in `func on_pusher_request_complete(result, response_code, headers, body)
` where `request = REQUESTS.NONE` was placed in wrong line. But as you said, I updated to latest version and it is fixed and works fine now. Thank you very much for help!

[2021-01-20 21:55] #65 closed

[2021-01-21 17:28] tommasodargenio opened #67 "New OAuth integration with google credentials - passwordUpdatedAt is not in the payload therefore raising exception error"
I'm testing the new OAuth integration (btw thanks a million to implementing this feature so quickly!!), I've got an error in the FirebaseUserData class (file: user_data.gd), the exception is raised for row 20 where the field passwordUpdatedAt is not in the payload returned by google during the authentication transaction.

I've commented the row for now and it all worked fine after few other hiccup

[2021-01-22 16:19] tommasodargenio opened #68 "OAuth Client ID credentials must be whitelisted in Firebase to work - add note to wiki"
No sure if that's just me but when I tried to use the OAuth workflow it didn't work at the beginning and I was getting the following error:

[code]

where xxxxxxxxx.apps.etc. it's the client ID I've created in the google console, while yyyyyyy is the project ID in Firebase.

To make it work I've added the google console client ID in the Whitelist for the google sign-in method in Firebase (there is

[2021-01-22 22:17] fenix-hub commented on #68
Maybe I need some more info about this.

Did you enable Google sign-method?
What code did you use so I could replicate the same thing in a new project?

[2021-01-23 14:11] fenix-hub commented on #67
#72 closes this.

[2021-01-23 14:11] #67 closed

[2021-01-23 15:23] BearDooks opened #73 "README needs update after creation of new ORG"
The rEADME needs an update to fix the git clone commands

[2021-01-23 15:28] #73 closed

[2021-01-23 15:38] BearDooks opened #75 "Links in README point to old repo"
Any links that point to old repo need to be fixed

[2021-01-23 15:41] #75 closed

[2021-01-23 16:45] tommasodargenio commented on #68
I followed the installation/activation instructions in the wiki to the letter. I've created a project in google console, and I've created an OAuth 2.0 credential using the desktop type, this has generated the web secret and the client ID. I've added this to the override.cfg as per instructions.

in Godot then I use the same code listed in the instructions:
Firebase.Auth.get_google_auth() to fire u

[2021-01-23 18:24] fenix-hub commented on #68
Hi @tommasodargenio ,

Looks like the IDP error happens if you create credentials for a project **different from the one you are using**.
I've got two Firebase projects:
- RistoranteDigitaleTest
- My First Project

I setup my Godot project using *RistoranteDigitaleTest*'s keys from Firebase.
I create OAuth keys using *My First Project* from Google Cloud Platform, and set clientId and clientSecret

[2021-01-25 07:35] timjrobinson opened #79 "Issues with Installation documentation"
Just installing following https://github.com/GodotNuts/GodotFirebase/wiki/Installation-and-Activation and found a few issues:

- It mentions copying `GDFirebase` to addons folder. But this repo has 3 folders in master: `godot-firebase`, `gut`, and `http-sse-client`. Do all 3 of these need to be copied?
- In the `override.cfg` file I filled in the variables but they didn't appear in Project Setting

[2021-01-25 07:41] timjrobinson commented on #79
After a few restarts the env variables started showing in project settings with `[firebase/environment_variables]` at the top of the config file, so I guess that 2nd part is fine. I'm still getting "unauthorized" though.

[2021-01-25 08:18] timjrobinson commented on #79
Hmm I can't figure out what's going on. I don't have clientId or clientSecret set but the rest of the settings are set. I'm printing out the config in `auth.set_config` - https://github.com/GodotNuts/GodotFirebase/blob/main/addons/godot-firebase/auth/auth.gd#L116 and they're all set correctly. However after this function nothing further happens, the `_on_FirebaseAuth_request_completed` function is

[2021-01-25 08:36] timjrobinson commented on #79
Ok got it working! Didn't realize I must login with a user to be able to use the Firestore, as this isn't required in Firebase web apps. I first enabled Authentication -> Sign-in method -> Anonymous and then the following works:

[code]

Trying to run that `_get_test_item` function without doing `Auth.login_anonymous()` doesn't work. It just says `unauthorized`

[2021-01-25 10:17] fenix-hub commented on #79
Hi @timjrobinson ,
I'm sorry about the installation experience - the wiki still needs some updates since we are still figuring a proper basic way to install and set up the plugin. We will update that page as soon as possible with the current method.

About authentication - since we are using REST APIs, due to security reasons (both from Firebase and - always remember - *your Firestore/Database rul

[2021-01-25 11:30] fenix-hub commented on #79
[wiki updated](https://github.com/GodotNuts/GodotFirebase/wiki/Installation-and-Activation#installation)

[2021-01-25 14:58] WolfgangSenff commented on #79
I'm going ahead and closing this, @timjrobinson. If you have any further issues around it, please open a new one. Thanks!

[2021-01-25 14:58] #79 closed

[2021-01-25 16:29] WolfgangSenff opened #83 "Add FirebaseTileMap component"
As we start to build out Firebase-UI-like components, I thought it made sense to have a TileMap that could maintain itself via an active connection to Firebase. This should also give an easy way to upload the map data to Firestore so that people can build their maps in the editor and effectively "export" them to Firestore.

[2021-01-25 16:30] WolfgangSenff opened #84 "Add FirebaseTileMap, a tilemap implementation that automatically updates itself based on data that is stored in Firestore. Add this as part of the Firebase-UI library (eventually)."
As we start to build out Firebase-UI-like components, I thought it made sense to have a TileMap that could maintain itself via an active connection to Firebase. This should also give an easy way to upload the map data to Firestore so that people can build their maps in the editor and effectively "export" them to Firestore.

[2021-01-25 16:30] #83 closed

[2021-01-25 21:28] SIsilicon opened #85 "Source code using double tabs instead of single tabs!"
Firstly, thank you for this plugin! It is proving to be very useful in a game I'm working on. I'm even considering to contribute to the storage api.
Something is bothering me about the source code though. all the tabs seemed to have doubled. Where there would be one tab, there's two. Where there'd be two tabs, there's four. This does not adhere to the [gdscript style guide in the docs](https://doc

[2021-01-26 12:54] WolfgangSenff commented on #85
I'm attempting to normalize 4 spaces (rather than 2 tabs) with the team, but we'll fix it, since it's our weird bug that there's two tabs. :P

As for storage, it seems a tricky bit since there's no built-in REST API through Firebase - it exists through GCP, but not Firebase itself. I'd accept a proposal if you were interested in providing one. I am not going to close this until we have fixed the t

[2021-01-27 04:41] WolfgangSenff commented on #85
I have gone ahead and resolved this.

[2021-01-27 04:41] #85 closed

[2021-02-01 02:32] SIsilicon commented on #56
Perhaps the new Firebase Storage API can come in the form of file manager UI. Somewhat like the editor file system, except a folder can't be empty.

[2021-02-01 18:29] fenix-hub opened #89 "Investigate adding an integrated file manager for Storage Module"
Perhaps the new Firebase Storage API can come in the form of a file manager UI. Somewhat like the editor file system, except a folder can't be empty.

_Originally posted by @SIsilicon in https://github.com/GodotNuts/GodotFirebase/issues/56#issuecomment-770522472_

[2021-02-02 20:52] BearDooks opened #95 "Possible error when loading encrypted file"
In the current state of the code the file might not open correctly causing a hard crash of the plugin. There needs to be some sort of error handling to account for this.

By adding an error check and printing the error it will resolve the issue

Godot documentation to support fix
https://docs.godotengine.org/en/stable/classes/class_@globalscope.html#enum-globalscope-error

[2021-02-04 10:48] WolfgangSenff opened #97 "FirstoreDocument cannot contain collections"
While working with Firestore, I managed to create a Document in the console that contains a collection of other documents. This type is currently missing from the list and it would be very useful for our users. I'll work around it for now by adding the same document to the previous collection and find a better way to structure the initial collection name, but we'll need to implement it, since (app

[2021-02-04 10:51] #95 closed

[2021-02-04 14:19] WolfgangSenff commented on #97
This is actually not an issue, as it turns out. Need to add a comment to the Wiki that you have to go to the collection even if it's nested by utilizing the entire path to whatever collection you want. If it's nested, you have to go through the nested structure directly the first time you call to create the FirestoreCollection - which is completely fine.

[2021-02-04 14:19] #97 closed

[2021-02-04 21:50] WolfgangSenff opened #102 "Append game-name (or some game ID) to user.auth file"
In order to support having multiple games that use the plugin on the same device, we need some way to identify different login files. I figure something like the game-name itself should be good enough.

[2021-02-04 21:51] WolfgangSenff commented on #102
I lied.

[2021-02-04 21:51] #102 closed

[2021-02-05 03:11] BearDooks opened #105 "Determine if HTML5 export works on a non-Mac computer; Mac computers presently suck for exporting HTML5, or at least mine does. :)"

[2021-02-05 03:12] BearDooks commented on #105
Tested this with a simple login page. I was able to use the plugin without issue. I hosted the html5 through firebase hosting

[2021-02-05 03:12] #105 closed

[2021-02-05 03:15] BearDooks opened #106 "[FEATURE REQUEST] Implement Remote Config REST API"
https://firebase.google.com/docs/reference/remote-config/rest

[2021-02-05 03:17] BearDooks opened #107 "Investigate adding a generic, stylable, configurable login control that people can just drop into their game, configure, and automatically have full login capabilities."

[2021-02-05 03:17] BearDooks commented on #107
Fixed via the FirebaseUI controls

[2021-02-05 03:17] #107 closed

[2021-02-05 03:18] BearDooks opened #108 "Implement Dynamic Links REST API"
https://firebase.google.com/docs/reference/dynamic-links/link-shortener

This is only the link-shortener, but appears that's all we have access to through REST at the moment.

[2021-02-05 03:21] BearDooks commented on #68
@tommasodargenio

Just checking in to see if you got this working or if you need more help.

Thanks

[2021-02-05 08:37] tommasodargenio commented on #68
Thanks for the extensive explanation. I had it working by the way I've explained. I guess when you saying that the OAuth credentials in GCP must be for the same project, you mean the project in GCP must have the same name as the one in Firebase as otherwise, I can't see a connection between the two platforms (i.e. I can't see my Firebase project in the GCP developer console).

either way, it works

[2021-02-05 08:37] #68 closed

[2021-02-05 18:58] BearDooks opened #110 "Missing Bug and Feature report templates"
These would be good so we have a general outline for people to use when reporting a bug, or requesting a new feature to us.

[2021-02-05 19:01] BearDooks opened #111 "Missing Code of Conduct for the repositry"

[2021-02-06 01:23] #110 closed

[2021-02-06 01:24] #111 closed

[2021-02-08 14:45] Zarasan opened #114 "Get Data from existing realtime database object"
I have a realtime database set up and I am trying to get data from it. I could only find new_data_update and patch_data_update signals, how do I get existing data?

[2021-02-08 17:14] WolfgangSenff commented on #114
It should be in the new_data_updated signal.

[2021-02-08 17:51] BearDooks commented on #108
Looking into this, currently using the simple method of providing a link and getting a short one back. Developer will need to specify if the link will be SHORT or UNGUESSABLE via a bool

[2021-02-08 18:11] Zarasan commented on #114
var fstore
fstore = Firebase.Database.get_database_reference('Users/01ojEi6zjaNR82CxvBc0Zfvt9pa2', {})
fstore.connect("new_data_update", self, "on_received_new_chat")

and I never get a signal with the data that is there in the database, am I doing something wrong? Should I call get() like in firestore?

[2021-02-08 22:03] SIsilicon opened #116 "Built-in Documentation"
Having a Wiki is great, but as the project grows, perhaps the class documentation should also be included in the editor for faster referencing; similar to how the built-in class references can also be found in the editor.

[2021-02-08 22:04] SIsilicon commented on #116
I'll be achieving this by creating a third-party plugin to display "pseudo docstrings".

[2021-02-08 22:10] BearDooks commented on #114
@Zarasan when new data is added, can you see it in the console at that path?

Are you sure the path you have connected to is correct?

[2021-02-08 22:32] WolfgangSenff commented on #114
Can I see the definition of the `on_received_new_chat` function?

[2021-02-08 22:55] Zarasan commented on #114
@BearDooks I don't need to wait for new data like in the chat example, I have user information already defined there and I need to access it

@WolfgangSenff its just a simple print(data) function

[2021-02-08 23:30] Zarasan commented on #114
This problem was on my end. Sorry for disturbing you.
Thank you so much for helping

[2021-02-08 23:30] #114 closed

[2021-02-08 23:37] WolfgangSenff commented on #114
It's cool - it's what we're here for. :) Good luck!

[2021-02-08 23:38] WolfgangSenff commented on #114
@Zarasan - by the way, I recently fixed a dumb bug with the authorization stuff. The fix is already in latest, but if you're using the branch from the Godot Asset Library, you likely won't have it. It's an easy fix though and since it's the latest thing to be merged, very easy to see what you have to do for the fix.

[2021-02-09 19:54] BearDooks opened #118 "Add ability to logout"
**Is your feature request related to a problem? Please describe.**
Currently there is no way to have a user log out of the system or remove the local auth file

**Describe the solution you'd like**
A method to do this

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-02-09 20:48] #118 closed

[2021-02-12 18:48] #108 closed

[2021-02-13 16:13] #116 closed

[2021-02-15 07:57] timjrobinson opened #126 "[BUG] Crash when connecting to Realtime Database"
**Describe the bug**
I'm testing out the updates in #124 and Realtime Database is crashing when trying to listen to a path on this line: https://github.com/GodotNuts/GodotFirebase/blob/main/addons/godot-firebase/database/reference.gd#L123 because `_auth_obj` is null.

Full stack trace:

![2021-02-15 17_56_47-Godot Engine - CodeBreaker - SceneSelector tscn](https://user-images.githubusercontent.com

[2021-02-15 08:29] timjrobinson commented on #126
I created #127 to demonstrate this. Should be able to just run the examples to see the crash.

[2021-02-15 12:36] fenix-hub commented on #126
Next PR will fix this.
Looks like the `onready` loads references correctly in the ready function, but since it is referencing parent nodes this doesn't work.
In Godot child nodes are first loaded, then parents.

[2021-02-15 12:55] #126 closed

[2021-02-16 02:20] timjrobinson opened #130 "[BUG] No updates from Real Time Database in HTML5"
**Describe the bug**
#127 is now working when running through Godot. However when exporting to HTML5 and running it, it is not receiving any `new_data_update` or `patch_data_update` signals.

Updating data is working correctly with `db_ref.update(path, data)`, and the `push_successful` signal is being emitted when the data is updated.

**To Reproduce**

- Load the database example in #127.
- Go to

[2021-02-16 02:56] timjrobinson commented on #130
I did some further investigation and it looks like the HTTPSSEClient is connecting correctly, it's just never getting a `httpclient_status` of `HTTPClient.STATUS_BODY` on this line: https://github.com/GodotNuts/GodotFirebase/blob/main/addons/http-sse-client/HTTPSSEClient.gd#L70. It always gets a status of `STATUS_REQUESTING`

[2021-02-16 03:57] timjrobinson commented on #130
I created a generic network class so that I can switch between Firestore / RealtimeDB for my game and Firestore is working in HTML5 mode.

[2021-02-16 08:21] timjrobinson opened #131 "[BUG] Dictionaries inside Arrays from Firestore not parsed correctly"
**Describe the bug**
When retrieving data from a Firestore document that contains an array with dictionaries inside it, the dictionaries are not being parsed.

**To Reproduce**
Create a Firestore Collection
Inside the collection create a document that contains an array
Add an item to the array with key `0` and data of `{"name": "someone"}` with GodotFirebase
Retrieve the document using GodotFireba

[2021-02-16 14:49] WolfgangSenff commented on #130
Yes - this is a known issue at the moment actually, and it apparently has to do with response chunking. I talked to @faless about it (the guy who maintains Godot's networking), and that's what we came up with, but I'm working on a fix and it doesn't seem to be working yet, so I may have to ping him again. In any case, this is my current task and I'm looking into it.

[2021-02-16 14:50] WolfgangSenff commented on #131
@fenix-hub - sounds like the refactor slightly broke parsing. Any chance you'll be able to look at this this week?

[2021-02-16 18:21] fenix-hub commented on #131
Yep, I'll give it a look for sure.

[2021-02-17 01:09] timjrobinson opened #133 "[BUG] Testing page in wiki mentions plugin directory that no longer exists"
**Describe the bug**
On the testing page: https://github.com/GodotNuts/GodotFirebase/wiki/Testing it mentions to cd into a `plugin` directory and also that tests live inside `plugin/tests/...`. This directory no longer exists so should be removed from this wiki page.

[2021-02-17 01:38] BearDooks commented on #133
Awesome catch. Thank you @timjrobinson

I have updated the wiki to reflect changes

[2021-02-17 02:28] timjrobinson commented on #133
Under the "Creating Tests" section it still says they live in the `plugin` directory.

[2021-02-17 11:11] Zarasan opened #135 "Firebase Storage _download() error"
**Describe the bug**
Null

**To Reproduce**
_download(path, false, true)

**Expected behavior**
Give the download url for the file.

**Screenshots**
![image](https://user-images.githubusercontent.com/43384612/108196270-36a77f80-7119-11eb-8616-25a668121a50.png)

**Additional context**
I noticed that you are passing ref.full_path in get_file_url() function

[2021-02-17 17:46] WolfgangSenff commented on #130
I have since talked to Faless again and discovered that the XMLHttpRequest (the underlying tech they use for handling HttpRequest stuff) does not support the header we're sending to initialize server-sent events. What this ultimately means is we cannot, for now, solve this problem outside of swapping to a normal HttpClient when in an HTML context, and implementing long-polling. This solution is go

[2021-02-17 17:48] #135 closed

[2021-02-18 13:22] WolfgangSenff commented on #130
Okay, and Fales has managed to find a way to fix this in Godot. I don't fully understand what he did - it sounds like he implemented a completely new backend try for some stuff but I'm not sure - but mostly I just don't know when it's going to get in. I'm going to close this issue, as it's not really an issue with our plugin per se, but rather with Godot's underlying, slightly-outdated approach to

[2021-02-18 13:22] #130 closed

[2021-02-18 17:52] BearDooks commented on #133
@timjrobinson you are correct. I just removed those as well. Let me know if I missed anything else.

Thanks

Chuck

[2021-02-18 21:58] BearDooks opened #139 "[BUG] Change password function not working"
**Describe the bug**
When trying to change a user password, firebase returns a 400 error about an email

**To Reproduce**
Use the Firebase.Auth.change_user_password() function

**Expected behavior**
The password changes

[2021-02-18 22:45] #139 closed

[2021-02-19 09:46] #131 closed

[2021-02-19 21:45] #133 closed

[2021-02-22 11:17] Zarasan opened #143 "How to store a timestamp to firestore? [QUESTION]"
How do I store a timestamp to Firestore.

I am getting current time with OS.get_datetime(), but I don't know how to add it to firestore as a timestamp

[2021-02-22 22:50] BearDooks commented on #143
@Zarasan if you are storing this data in a variable you should be able to add it to a document with ease.

See: https://github.com/GodotNuts/GodotFirebase/wiki/Firestore#add-a-document

an example would be something like

[code]

This should hopefully make a new document and on of the fields inside of it will be the timestamp you took.

[2021-02-26 00:05] WolfgangSenff commented on #143
@Zarasan - since we haven't heard back from you yet, I'm going to go ahead and close this. If it's still borked, let us know!

[2021-02-26 03:40] timjrobinson commented on #130
Who is Fales? Could you link to the PR for the Godot fix so I can track it and know when I can start using Realtime Database?

[2021-02-26 15:42] WolfgangSenff commented on #130
To my knowledge, he has not made a PR for this yet, but is hopefully going to do so within a week or two. That is based on nothing more than my own guesswork though. Fales is the maintainer for the networking stack in Godot. 😋

[2021-03-02 12:41] WolfgangSenff opened #149 "Add eTag support for transaction-like functionality using the REST API"
**Is your feature request related to a problem? Please describe.**
Currently, with the realtime database, we do not support actual transactions, even though Firebase itself does. We do not support them because the REST API's approach to transactions is convoluted, at best.

**Describe the solution you'd like**
I'd like to utilize the built-in support they have for eTags so that we can guarantee th

[2021-03-02 15:54] BearDooks opened #150 "[FEATURE REQUEST] Allow HTML projects to save the Auth"
**Is your feature request related to a problem? Please describe.**
Currently HTML does not support saving the encrypted auth file, so users will need to log in every single time. This makes it harder for someone using the plugin to export to HTML and have the same feature sets as everyone else

**Describe the solution you'd like**
Add a solution to support this if possible

[2021-03-05 13:41] WolfgangSenff opened #152 "[BUG] Content-Type header is wrong, should be Accept"
**Describe the bug**
There's several bugs right now dealing with request headers, so those should be fixed. We should not be sending a Content-Type header, but instead the Accept header, and we do not need to ever send the Access-Control header that we had been - that will only ever come from the server, not vice versa. There's also a significant spamming bug related to offline support, which I'm

[2021-03-05 14:09] #152 closed

[2021-03-07 00:15] juanitogan opened #153 "[FEATURE REQUEST] Allow Realtime Database connection without authentication"
This is more of an anti-feature request, I suppose.

I've just begun porting one my games, https://juanitogan.itch.io/sendit-soccer, from another engine to Godot.  The first task, however, is to connect to my Realtime Database like I currently am doing in JavaScript.  That is, without auth.

The only purpose of the DB is to help initiate P2P connections, thus, no auth needed or wanted.  It has oth

[2021-03-07 00:22] creikey opened #154 "[FEATURE REQUEST] Add ability to set firebase base URLs so that official emulator can be used"
**Is your feature request related to a problem? Please describe.**
Developing a game with the production firebase servers is not good practice, and the firebase emulator has more tools based around development (quickly generate fake google users as an example)

**Describe the solution you'd like**
A way to set the firebase root, auth, and store base URLs so that localhost can be used instead.

**D

[2021-03-07 00:22] BearDooks commented on #153
@juanitogan good question. Some of those pages need to be updated, so thank you for bringing it to our attention.

One way around it is to have the app use anonymous authentication in the background. It should fix the issue of needed auth but not forcing a user to log in.

Let me check with the team to see if there is a different way.

Thanks,
Chuck

[2021-03-07 02:09] WolfgangSenff commented on #153
We *can* support that, but I don't know if we should. Not having auth means you can never enforce rules, so as soon as your keys are out there (easily gotten from your program), you're going to get bombarded with stuff. I've seen it happen, blew out someone's database immediately and cost them thousands. I recommend anonymous authentication like suggested. If you really think it's necessary to sup

[2021-03-07 02:13] WolfgangSenff commented on #154
We can and should support this. I actually didn't realize it worked with the REST API. We'll get this into the next release.

[2021-03-07 02:30] juanitogan commented on #153
In my opinion, feature decisions are up to the service provider and the dev, not the middleman tool.  The risks you mention simply don't apply to my use case.

[2021-03-07 03:08] WolfgangSenff commented on #153
They absolutely do apply to your use case. For the time being, I'm not going to implement this because of potential liability concerns. Once I've found an appropriate liability disclaimer that I can add to the repo, I'll add the ability for you to do this, but for now, I will not permit this type of functionality in my codebase, not until I can be sure I cannot be held even partially responsible.

[2021-03-07 03:32] WolfgangSenff commented on #153
Alright. I've talked to someone and I believe the license will cover us. We'll implement this, even though it can only be a bad thing. I don't know how long it'll take. This likely will be a boolean export on the main Firebase scene that can be checked, something like, "Intentionally leave yourself vulnerable to attack?" Hm, too wordy. We'll figure something out, though it will take a little bit o

[2021-03-07 03:56] fenix-hub commented on #153
Hi @juanitogan ,
I really want to add a *little* sidenote to my collaborators' answers. Please read it carefully.
Let's just put aside the fact that phrases like "this thing does not apply my use case" or "I don't need this" won't be for sure the reasons why we will add new features, mostly because the project is open source and any customization can be done with very little effort (depending on t

[2021-03-07 04:05] juanitogan commented on #153
Why would you need a license or disclaimers to cover services from Google, and use cases they have already found valid and support with their own tools?  Disposable data is what it is.  You may choose to build a fence around it, but Google and I have other priorities with keeping barriers low... for whatever reasons us clueless people have for not protecting our trash heaps better.

But, okay, as

[2021-03-07 05:25] WolfgangSenff commented on #153
We need the license/disclaimer to cover us from your usage of it. When you are hacked and lose thousands of dollars, we need to be ensured you can't sue us for providing the tool that you shot yourself in the foot with. It's clear you don't really understand how any of this works, so yeah, we'll lecture you because we, the folks who know a lot better than you, about the mistakes you're making, bec

[2021-03-07 06:31] juanitogan commented on #153
"we, the folks who know a lot better than you"  :rofl:

And, yet, the concept of disposable data has clearly eluded you.

You have revealed your true self.  Enjoy your totally awesome and superior selves.  I've got work to do.  I disabled the auth in this code hours ago.

[2021-03-07 12:03] #153 closed

[2021-03-08 18:52] BearDooks commented on #153
Please note that this type of response is uncalled for and falls under our code of conduct. Our team tries hard to take every request and make it work, but there are just things we can't do.

https://github.com/GodotNuts/GodotFirebase/blob/main/CODE_OF_CONDUCT.md

[2021-03-11 20:16] WolfgangSenff opened #156 "[FEATURE REQUEST] Testing new Webhook feature"
Nothing to see here.

[2021-03-11 20:19] #156 closed

[2021-03-16 08:19] h1p3rcub3 opened #159 "[BUG] Firebase database filter "ORDER_BY" is not working"
**Describe the bug**
When trying to get a database reference with ORDER_BY filter it returns an error:

Invalid get index 'ORDER_BY' (on base: 'null instance')

in line 133 of reference.gd
`if _filter_query.has(_parent.ORDER_BY):`

**To Reproduce**
I'm creating the listener like this. It works fine without filters, but i was not able to add any.

`var events_listener = Firebase.Database.get_databa

[2021-03-16 10:10] h1p3rcub3 commented on #159
I just realized it got nothing to do with ORDER_BY query.

Even the Wiki example is not working
`var db_ref = Firebase.Database.get_database_reference("path_to_position_in_database", { Firebase.Database.LIMIT_TO_LAST: 10 })`

[2021-03-16 11:34] WolfgangSenff commented on #159
Do you have indexes created for the fields you're attempting to order_by and equal_to? If not, it will not work. I'm not sure if we have that info in the wiki as I was expecting people that are attempting to use those features would know you have to make indexes, but it also never occurred to me the plugin would get that popular, so it's my fault. If you don't have those indexes created in your ru

[2021-03-16 11:54] h1p3rcub3 commented on #159
I created the index in the rules but it's still giving the same error. As I told in a comment after the bug report, it seems to fail with any kind of filter, even the LIMIT_TO_LAST filter, wich has nothing to do with indexes.

[2021-03-16 11:57] WolfgangSenff commented on #159
Oh crap, sorry, totally misread your original report. I didn't see the actual error. Let me take a quick look, one moment.

[2021-03-16 12:08] WolfgangSenff commented on #159
Okay, have a fix, the tests are running and should be integrated soon. Just a bad refactor it looks like, someone didn't understand how the filtering worked.

[2021-03-16 12:37] WolfgangSenff commented on #159
Alright, bug fixed. Had to move the constants into the references, just fyi.

[2021-03-16 12:37] #159 closed

[2021-03-16 13:23] h1p3rcub3 commented on #159
Thank you for your time!

It doesn't give any error now, but still not working. The event is not getting trigered neither when adding an item or in the first sync.

This is my code.

`	var events_listener = Firebase.Database.get_database_reference("matches/1/events", {FirebaseDatabaseReference.ORDER_BY : "action_id", FirebaseDatabaseReference.EQUAL_TO : "GAME_START"})
events_listener.connect("new_

[2021-03-16 13:26] WolfgangSenff commented on #159
Hm, and you definitely have your indexes now for ORDER_BY? Those are needed for any ORDER_BY query.

[2021-03-16 14:16] h1p3rcub3 commented on #159
It's possible that i'm not doing it properly, its been a long time since I had to create firebase rules. This is my data estructure.

![Sin título](https://user-images.githubusercontent.com/13078787/111323713-6c814a80-866a-11eb-8375-f45b3df04f5c.png)

[code]

[2021-03-16 14:23] WolfgangSenff commented on #159
Try adding another level under events for $eventid maybe? In theory I wouldn't expect you to need it, but I'm not sure what's up, and I have to go do my real job now. Let me know over the course of the day if you figure it out.

[2021-03-16 16:04] h1p3rcub3 commented on #159
It works fine with just the ORDER_BY, but when i combine it with the EQUAL_TO filter i dont get any data. I will keep you updated.

[2021-03-17 07:37] h1p3rcub3 commented on #159
I found the issue. It was not adding the scaped quote to the query.

The query should be processed differently depending on the Type you want to filter.

If its a string, then it should add the scaped quote, if it's a bool it should lowercase it, as in Firebase Database "true/false" are lowercase while they are capital in Godot.

Here is how I made it work. I think this covers all the cases.

[cod

[2021-03-18 21:21] BearDooks opened #161 "[BUG] Firestore .get() breaks if you are connected with on_document_error()"
https://github.com/GodotNuts/GodotFirebase/blob/0dcabd4f410058c656d3f000ad733990edf42e3c/addons/godot-firebase/firestore/firestore_task.gd#L155

This line when called with return an error since the function in firestore_collection is looking for three arguments and this is only passing one.

**Original lines:**

[code]

**Updated lines that work:**

[code]

Something that we need to look into. I d

[2021-03-25 22:05] ReneHabermann opened #163 "[BUG] bad "error" signal connection in firestore_collection"
**Describe the bug**
When an error occurs while trying to add a document to a firestore collection (like a 403 authentication error), an error in Godot is produced, stating this:
[code]

firestore_task.gd:155 emits the "error" signal with one parameter.
In firestore_collection.gd:117 i think the signal is connected to the _on_error method. The _on_error method is in firestore_collection.gd:148, ex

[2021-03-25 22:12] WolfgangSenff commented on #163
We actually have a solution for this already with a branch that's ready to go, but have been discussing a more complete fix because the original code was being used in multiple places (that's the problem) instead of being properly separated. It should be resolved by #161 .

[2021-03-26 02:02] #161 closed

[2021-03-26 02:03] #163 closed

[2021-03-26 02:03] WolfgangSenff commented on #163
Resolved by #162 .

[2021-03-26 14:15] WolfgangSenff opened #166 "With latest, seems like the recent fix for Firestore documents broke something else."
When I call

`collection.get("DOCUMENT_ID")`

I receive the following error:

`Invalid get index "error" (on base: "Dictionary")`

on line 154 in "firestore_task.gd"

[code]

I've also already pulled the latest GodotFirebase changes at the time of this posting

Thanks in advance for any pointers or assistance!

_Originally posted by @Rysm in https://github.com/GodotNuts/GodotFirebase/discussions/1

[2021-03-27 22:53] DanielVZ96 commented on #97
@WolfgangSenff I'm sorry but can you give some example on how you'd query nested collections?

[2021-03-28 16:28] BearDooks commented on #97
@DanielVZ96 I am going to move this question over to the discussions section. I just saw that you had posted here, but I think it is better suited for there.

[2021-03-29 01:33] DanielVZ96 commented on #166
This is currently happening to me but I haven't updated or anything. The only difference is that I'm using a slower connection. The bug appears because the task is being called while GodotFirebase is in offline mode and it doesn't provide a body correctly. Here's a rough stack trace:

- 154 in firestore_task.gd: `_on_request_completed` tries to get `bod.error`, but `bod` was built from the empty `

[2021-04-01 04:27] oneseedfruit opened #169 "[BUG] Memory leak caused by Custom Docs plugin in silicon.util.custom_docs"
**Describe the bug**
The "Custom Docs" plugin in `addons/silicon.util.custom_docs` causes memory leak.

**To Reproduce**
Steps to reproduce the behavior:
Just enable the "Custom Docs" plugin in the project settings.

**Expected behavior**
Should not increase RAM usage every second.

**Environment:**
- OS: tried on Manjaro and Windows 10

[2021-04-01 11:29] WolfgangSenff commented on #169
Hm. That's bad. At the moment this is kind of low priority because you just don't have to turn on that particular plugin, but I understand the leak sucks. The problem is the implementer of said plugin is currently without a computer, and we're waiting on a few tickets for him until he's able to get a new one. I'll leave this open to track it, but for now the advice is just don't turn it on and try

[2021-04-01 12:37] oneseedfruit commented on #169
Alright, thanks! I'll do as you say. And thanks for making this plugin!!

[2021-04-01 13:36] #166 closed

[2021-04-04 12:28] spyr0s opened #170 "Can't use Google login in android app"
**Describe the bug**
Google login works fine when used in a  desktop app (f.e in Godot play project button) but when deployed on android I'm getting
`Firebase Auth is currently busy and cannot process this request` errors

**To Reproduce**
Implement Firebase Google Auth as described in the docs
Use Play Project button in godot
Google log in works as expected
Use deploy in android button in Godot
P

[2021-04-04 12:49] spyr0s commented on #170
After some debugging I see that I got this response from  exchange_google_token

`{
  "error": "invalid_grant",
  "error_description": "Malformed auth code."
}`

I am not sure why

[2021-04-04 14:55] BearDooks commented on #170
@spyr0s thanks for bringing this to our attention. @fenix-hub and I are currently looking into it.

[2021-04-04 15:30] spyr0s commented on #170
I think it's not your bug.
I found out that LineEdit on android does not return the whole code on the text_change event
Instead of returning
`4/1AY0e-g6mWzoSsttJlwtTLWgl8YOgbIiJEJEZtlfS9....`
it returns just
`4`
Maybe there's a bug with the / character.
I'm looking into this

[2021-04-04 15:43] BearDooks commented on #170
@spyr0s good to know and awesome job finding it. I will talk with the team and see what we can do.

[2021-04-04 15:45] fenix-hub commented on #170
@spyr0s Thanks for checking this out! Actually looks something that needs to be issued on Godot's repository itself.

[2021-04-04 16:16] #170 closed

[2021-04-05 09:59] spyr0s opened #171 "[FEATURE REQUEST] Allow not authorized users to access firestore resources"
**Is your feature request related to a problem? Please describe.**
Currently all requests to firestore documents require authorization else an "Unauthorized Firestore operation!" error is returned

`if not auth:
    printerr("Unauthorized Firestore operation!")
    return null`

**Describe the solution you'd like**
Allow requests to be done without the auth check and no bearer if the user is not a

[2021-04-05 11:56] WolfgangSenff commented on #171
We generally recommend everyone use authorization, but that said, it feels like a valid use-case. Will talk to the team. Thanks.

[2021-04-05 13:18] spyr0s commented on #171
Thanks,
A workaround for the time being would be to use anonymous auth

[2021-04-05 13:59] fenix-hub commented on #171
Hi @spyr0s ,
As a team we have always avoided to support unauthenticated requests, because generally it means that users using the library do not have rule policies protecting their projects whatsoever.
But in this case you gave us a complete and understandable use case and we are sure you know what you are doing.
Before implementing this, I'd like to make sure if a viable option for you would be

[2021-04-05 14:04] spyr0s commented on #171
Yes, anonymous sign in would be a perfect workaround.
Just checked and works fine

On Mon, Apr 5, 2021, 16:59 Nicolò Santilio ***@***.***> wrote:

[2021-04-08 08:51] Zarasan commented on #143
Hello, sorry for the delay in writing back.

When I stored the timestamp it stored it like a map and not like timestamp. After a bit of researching I found how Firestore stores it.

Here is my fix for sending timestamp to firestore.

[code]

[2021-04-08 10:38] fenix-hub commented on #143
Could be better formatted like this and implemented:
[code]

[code]

Additional function to convert it back from Firebase to GDScript Dictionary
[code]

[2021-04-08 10:50] fenix-hub commented on #143
[This](https://github.com/GodotNuts/GodotFirebase/blob/755875a25cd6f6c11d5f58190b867cf4e78bbd4d/addons/godot-firebase/firestore/firestore_document.gd#L92) will need to be updated too:
[code]
Should be everything I suppose

[2021-04-08 11:02] #171 closed

[2021-04-08 11:20] Zarasan commented on #143
Yes that is way better than mine, I just did the fix for my needs

[2021-04-08 11:22] fenix-hub commented on #143
No problem, it's just to keep the style of the code :)
Next update will implement this so you can use these features.

[2021-04-08 12:12] WolfgangSenff commented on #143
Closed by #173.

[2021-04-08 12:12] #143 closed

[2021-04-14 07:15] Zarasan opened #174 "Load Auth doesn't emit signal when logged in[BUG]"
**Describe the bug**
load_auth doesn't emit login_successful when completing login
**To Reproduce**
load auth

**Expected behavior**
It should give login_successful signal if its logged in?

**Screenshots**
![image](https://user-images.githubusercontent.com/43384612/114668946-a1340080-9d01-11eb-9f8f-b15ee27eb36f.png)
![image](https://user-images.githubusercontent.com/43384612/114668998-b0b34980-9d

[2021-04-14 12:28] BearDooks commented on #174
@Zarasan This should emit the signal of being logged in when you load_auth(). Might I suggest using the check auth file command instead. It has some logic built in to make sure the auth file exists before you try to load it.

https://github.com/GodotNuts/GodotFirebase/wiki/Authentication-and-User-Management#check-encrypted-auth-file

In the meantime I will runs some local tests and get back to you

[2021-04-14 13:06] Zarasan commented on #174
@BearDooks I check if the auth file exists, my question was after it loads the file I have no return information that the user is logged in.
load_auth() file loads the file and sends a request but the request handler doesn't match the password assert reply firebase sends back.

[2021-04-14 13:45] BearDooks commented on #174
@Zarasan OK. Let me look into it. I know this worked before, but Google may have changed how things work. They tend to do this and break our stuff.

Thanks for the heads up.

[2021-04-14 14:33] BearDooks commented on #174
@Zarasan I think I see what is going on. This is all assuming you are using load_auth() because you have saved the auth file local to the device.

When you check for the auth file, it will auto load it for you. This process involves calling a manual refresh of the token, similar to a normal refresh when the token expires. Looking through our code and my notes, this does not 'log a user in' since t

[2021-04-14 14:40] Zarasan commented on #174
Ok, sorry my mistake had a wrong idea about what load_auth does.

So I have a login screen right now and it checks for the auth file, if its there is does load_auth, how will I know that the auth is correct? Should I do load_auth then after a few seconds check if Firebase.Auth has valid localid?

[2021-04-14 14:54] BearDooks commented on #174
@Zarasan No worries. Its really up to you how you want to handle it.

I always envisioned an app asking a user if they wanted to stay logged in with a checkbox, how you save that choice is up to you.

When a user wants to stay logged in, I would check for the auth file before you show them the login page, if it doesn't exist load the login page. If it does exist refresh the token. There should be

[2021-04-15 12:04] Zarasan commented on #174
Hey, so I tinkered with my code and added:
`requesting = Requests.LOGIN_WITH_MANUAL_AUTH`
![image](https://user-images.githubusercontent.com/43384612/114866045-63afa000-9df3-11eb-8612-ab5e86a14fe8.png)

and
[code]
![image](https://user-images.githubusercontent.com/43384612/114866142-7de97e00-9df3-11eb-9e32-73034502de59.png)

[2021-04-15 23:21] BearDooks commented on #174
@Zarasan glad that is working for you. I have been talking to the other team members, and we are not sure if that is something we are going to add to the plugin.

The discussion boiled down to, if we did add it, we would probably use a different signal, since you are not technically logging in again, but rather just refreshing the previous session. In that sense, we already have a signal that fire

[2021-04-15 23:23] Zarasan commented on #174
Thanks for the help, I'll close this now as it is not a bug and it is figured out.

[2021-04-15 23:23] #174 closed

[2021-04-18 21:18] ReneHabermann opened #181 "[BUG] firestore emits non existing signales"
**Describe the bug**
firestore.gd contains several emissions of a signal that doesn't exist, "task_error". (:348, :352, :356, ..)
emit_signal("task_error", code, status, message)

**To Reproduce**
Acces a document in firestore that provokes an error, like insufficient permissions.

**Expected behavior**
error signals should be declared to be signalled

[2021-04-18 21:34] ReneHabermann opened #182 "[BUG] Firestore query does not seem to use auth properly"
**Describe the bug**
I'm trying to access a firestore collection by query. The collection has read permissions (which includes list) for anyone that is authenticated. I can get single documents, but the queries fail with 403.

**To Reproduce**
Set up a collection "names" with
[code]

Then register with mail and login, after which you should be authenticated. Then try to access the documents by que

[2021-04-19 03:22] WolfgangSenff commented on #181
What version are you using? The latest from here, or the latest from the Asset Library?

[2021-04-19 03:26] WolfgangSenff commented on #182
Not sure if this is actually needed, but try adding this to your rules:
`service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}`

Obviously you'll need to change it around so it's matching the structure you want, but this one works pretty well for us. Let me know if it does for you.

[2021-04-19 03:27] WolfgangSenff commented on #182
Oof, that did not format well. Sorry. Hopefully it can work anyway.

[2021-04-19 12:20] fenix-hub commented on #182
Both this and your other issue #181 seems related to permission errors, which may not depend by our plugin but eventually by your project configuration.
But to confirm that and investigate we would need to have a reproduction for your case, since we can only state that the things work using our permissions on our own projects.
Try changing permissions for your project as @WolfgangSenff suggested,

[2021-04-19 12:28] ReneHabermann commented on #181
Latest from here, on main.
https://github.com/GodotNuts/GodotFirebase/blob/main/addons/godot-firebase/firestore/firestore.gd

There is no signal "task_error" in this class, but the signal emission is done, for example in line 348.

[2021-04-19 13:01] ReneHabermann commented on #182
Thank you for your replies! Indeed @WolfgangSenff permission worked, which sent me down an investigation.
Basically, i allowed read access on a collection (when authenticated), where Wolfgang allowed basically anything to a authenticated user. This is too broad for me, and probably for most use cases, so i couldn't stick with it.
The issue was, that the "from" part in the FirestoreQuery by default

[2021-04-19 13:01] #182 closed

[2021-04-19 18:02] WolfgangSenff commented on #181
Closed by #183.

[2021-04-19 18:02] #181 closed

[2021-05-03 16:29] nate-trojian commented on #154
I needed this feature for a project I am currently working on so I went and implemented it in my own fork of the project.  While actually connecting to the emulators was easy enough, I discovered an issue in the Firebase emulators themselves that prevents SSE streaming from working.

When the HTTPSSEClient makes the request to the Realtime Database Emulator, it will never enter the STATUS_BODY sta

[2021-05-03 18:46] WolfgangSenff commented on #154
Care to open a PR to merge your changes, @nate-trojian? 😁

[2021-05-13 10:06] WolfgangSenff opened #191 "[FEATURE REQUEST] Support Custom Tokens for Authentication"
**Is your feature request related to a problem? Please describe.**
We do not currently support custom tokens when using Firebase Authentication, and it would be nice to do so.

**Describe the solution you'd like**
We should be able to support them and without too much difficulty.

**Describe alternatives you've considered**
None really - just a missing feature of the Firebase plugin itself.

**Add

[2021-05-14 18:46] mars3142 commented on #191
You can find a sample for REST API using the custom token as login: https://zemke.io/firebase-custom-token-rest-auth

PS: The custom token can't be created within the client. You need a server for that, because you need the Firebase admin SDK.

[2021-05-19 09:20] fenix-hub commented on #191
I'll consider this closed after #192 and no other feebdack received.
Reopen this if needed.

[2021-05-19 10:25] WolfgangSenff commented on #169
I'm closing this for now, as we have commit a change to remove the plugin from the repo. It seems there's a built-in bit of Godot that may be handling this in the future. We are only leaving the guts of it in (but enabling it won't do anything at this point) so that it can be "removed" from projects over time by disabling them.

[2021-05-19 10:25] #169 closed

[2021-05-20 12:46] smyrgeorge opened #194 "[BUG]"
**Describe the bug**
Realtime database updates seems to not work.
I tried several things but i couldn't make it work properly.
The problem seems to be with the fetching data mechanism.
FirebaseDatabaseReference.push, FirebaseDatabaseReference.update are working properly.

**To Reproduce**
Steps to reproduce the behavior:
- Connect to the root of the database (`test`).
[code]
- Connect to signals.

[2021-05-20 12:50] WolfgangSenff commented on #194
Can't say with certainty without seeing your setup, but this could easily just be an issue with updating in a place that isn't being tracked. You have to update it at the same level. Firebase only triggers updates for certain things. This should definitely work, and I'll be attempting to reproduce it very shortly, just asking to double-check it to make sure you are getting stuff in the right place

[2021-05-22 08:36] AmitNanda42 commented on #194
yes I face the same problem it never gets update. I also like to add calling the function "listener.get_data()" crashes the program.

[2021-05-22 12:33] WolfgangSenff commented on #194
To update you folks! @smyrgeorge @AmitNanda42

I believe you've found a bug in Firebase itself. I've been looking into this, and it is sending "put" updates back, not "patch" updates. That means it is miscategorizing the updates and it in turn causes very bizarre things to happen in our plugin. I will be contacting Firebase about this to see if they agree that the issue is theirs. I'll leave this

[2021-05-24 09:47] Zarasan opened #195 "[BUG] Firebase Timestamp"
**Describe the bug**
Firestore Timestamp doesn't have weekday and dst keys, which cause error when you have an array of timestamps from Firebase and you try to send them back it gives error

**To Reproduce**
Get a timestamp from firestore, try to send it back to firestore

**Expected behavior**
Should remove check if timestamp has dst and weekday and then remove them

**Environment:**
 - OS: Windo

[2021-05-24 12:01] Zarasan opened #197 "[BUG] Firestore List Empty Collection"
**Describe the bug**
I get an error when I list empty collections

**To Reproduce**
List an empty collection in firebase using .list command

**Expected behavior**
It should give empty array

**Screenshots**
It says there are no documents in bod

**Environment:**
 - OS: Windows 10

**Additional context**
My fix:
![image](https://user-images.githubusercontent.com/43384612/119344911-88bbec00-bc98-11

[2021-05-24 13:18] WolfgangSenff commented on #197
Thanks for the PR!

[2021-05-24 13:18] #197 closed

[2021-05-24 13:18] WolfgangSenff commented on #195
Thanks for the PR!

[2021-05-24 13:18] #195 closed

[2021-05-24 14:18] BearDooks commented on #150
Closing this as this is currently not supported, and anything we make would be more of a hack and not secure

[2021-05-24 14:18] #150 closed

[2021-05-24 14:52] Zarasan opened #199 "[BUG]Request Query gives unformatted documents"
**Describe the bug**
Query gives unformatted documents

**To Reproduce**
Query a document

**Expected behavior**
It should give formatted Firebase Documents

**Environment:**
 - OS: Windows 10

**Additional context**
My fix:
![image](https://user-images.githubusercontent.com/43384612/119365592-5c13ce80-bcb0-11eb-8db4-98d124879810.png)

[2021-05-24 17:13] WolfgangSenff commented on #199
Hm. So this is now returning an array instead of the document directly?

[2021-05-24 18:38] Zarasan commented on #199
document:{createTime:2021-05-24T13:47:36.525224Z, fields:{CountryCode:{stringValue:33}, FirstName:{stringValue:Aaron}, LastName:{stringValue:Asmith}, Mail:{stringValue:user1@qwerty.com}, MoodRequested:{booleanValue:False}, Organization:{stringValue:QWERTY}, PhoneNumber:{stringValue:123}, Points:{integerValue:20}, Role:{stringValue:User}}, name:'redacted', updateTime:2021-05-24T14:38:03.251779Z}, r

[2021-05-24 18:44] WolfgangSenff commented on #199
Okay. I'm a little worried this could break backward compatibility, if people are using it and not expecting an array like that to come back, but instead a dictionary. Let me confer with the team to make sure I'm not missing something.

[2021-05-24 18:48] Zarasan commented on #199
You can close this its no problem I just share what I have encountered

[2021-05-24 18:48] WolfgangSenff commented on #199
Oh, it's probably good and I'm probably just missing stuff! I'd rather have the code if people are running into issues with it, and you are good people. :)

[2021-05-24 18:54] mars3142 commented on #191
I commented within the pull request (#192), because I just did a testing for this features.

[2021-05-24 19:03] mars3142 commented on #191
@fenix-hub I need to reopen this issue, because the signal is not emitted. As you can see, it jumps into the else branch and did not send any signal. Should I create a PR or will you change it?

<img width="937" alt="godot_custom_token_response" src="https://user-images.githubusercontent.com/220423/119395032-4368e000-bcd3-11eb-9bfe-f5440d57c752.png">

[2021-05-25 12:58] fenix-hub commented on #191
Hi,
A test project would be very useful, but actually I think I might already know what needs to be fixed.
Basically to write the function my only way was to follow the documentation, but the documentation itself doesn't provide the structure of the response, so I thought that the response didn't have the `kind` field.
Now that I know thanks to you, we should just treat the new function's logic as

[2021-05-25 13:02] mars3142 commented on #191
Would you like to change that, so I can test it or should I try it first local on my machine?

We also need to check if the refresh token logic will work after that, but as you wrote, it should because it's nearly the same structure.

[2021-05-25 13:16] fenix-hub commented on #191
@mars3142 you can check out the [new branch](https://github.com/GodotNuts/GodotFirebase/tree/fix_custom_token_feature)

[2021-05-25 14:20] mars3142 commented on #191
I checked the new branch. My findings are:

- login_succeeded is emitted
- auto refresh is triggered

The only weird part, but this is depending on the Google API: the auth object is different for login and after refresh.

login:
<img width="127" alt="auth_after_login" src="https://user-images.githubusercontent.com/220423/119513029-26381e00-bd74-11eb-8305-2a9cf7274f7c.png">

after refresh:
<img wi

[2021-05-25 21:32] fenix-hub commented on #191
@mars3142
About the payload being different between the first request and the refresh, as you alread know we can't do much about that, but that's not a big issue in our plugin.
About the `get_user_data()` after the refresh, as far as the signal is emitted correctly and the payload is not an error (regarding permissions), the thing seems to work as intended.
Do you have any other specific issue or

[2021-05-26 06:48] mars3142 commented on #191
You unterstand the issue wrong. I can call `get_user_data()` after login, but it will crash, because the dictionary has other values as you expect. So the signal `userdata_received` will never emit. I don't know every auth method, so I just checked login/refresh and getuserdata.

I'll think, I create a fresh github project for you and add you as a contributor, so you can use this as a starting poi

[2021-05-26 08:07] fenix-hub commented on #191
Ok thank you very much, I'll wait to be added to your project so I can check the different payloads with those signals.

[2021-05-26 09:27] mars3142 commented on #191
Done. I've added you and included the latest addon commit (with custom token) in the test project.

[2021-05-26 09:33] fenix-hub commented on #191
Thanks! I'll check it out later today and will let you know :)

[2021-05-26 22:36] Zarasan opened #201 "[FEATURE REQUEST] Batch Data Management"
**Is your feature request related to a problem? Please describe.**
I would like to change data for every document that has same value

**Describe the solution you'd like**
https://firebase.google.com/docs/firestore/reference/rest/v1/projects.databases.documents/batchWrite
I saw that they have Batch Write in the REST API maybe it could be implemented.

**Describe alternatives you've considered**
I

[2021-05-26 23:07] WolfgangSenff commented on #201
We can probably implement this pretty easily. At the moment, I'm preparing a talk for GodotCon so cannot look into this, but we'll keep it open until we have time. Good suggestion!

[2021-05-27 09:01] mars3142 opened #202 "[BUG] load_auth without save_auth called at least once"
**Describe the bug**
I call `load_auth()` at game start and received and crash, that string can't be used + with int.

**To Reproduce**
Steps to reproduce the behavior:
Call `load_auth()` in a fresh created project.

**Expected behavior**
Because there is no auth saved, the method should return without any crash (an error message is okay).

**Screenshots**
<img width="971" alt="load_auth_error" sr

[2021-05-27 09:05] mars3142 commented on #202
Two changes should be done

1. Check is file exists (like in `remove_auth()`)
2. Parse the error to a string value - in my case it was the value of 7.

[2021-05-27 09:07] mars3142 commented on #202
Oh, I see there is a `check_auth_file()` function for that. I'll close that issue.

[2021-05-27 09:07] #202 closed

[2021-05-27 09:33] LoneDespair opened #203 "[FEATURE REQUEST] Oauth automatic redirect"
**Is your feature request related to a problem? Please describe.**
The user would have to copy and paste a code from their browser back to the app, which is a minor inconvenience but feels very odd

**Describe the solution you'd like**
A way to automatically redirect users back to the app after selecting an account, and without having to copy paste the code/token

**Describe alternatives you've co

[2021-05-27 11:26] WolfgangSenff commented on #194
Okay, unfortunately I have some bad news! Apparently the Firebase team knows about this issue and has been unwilling to fix it. It works differently with the web-based API from the REST API, and they will have to prioritize it. For now, we'll either have to find a work-around, or I just suggest updating from code, which should work I believe. In any case, as this doesn't represent a bug in our lib

[2021-05-27 11:26] #194 closed

[2021-05-27 13:13] fenix-hub commented on #203
Hi @LoneDespair !
I'm the guy behind the OAuth implementation. I'd really like to support this feature, since I prefer it among the manual copy-paste.
The thing is that such feature requres some testing that currently I'm unable to do.
I know that the minimum requirements for such thing to work is to
1) have a redirect URI (a domain you have control over) to handle the data
2) the application need

[2021-05-27 14:25] LoneDespair commented on #203
Greetings! @fenix-hub

My gratitude for oauth implementation and for sharing some information which would be handy in the future

Sadly I lack expertise on this area, to distinguish if any resource I saw would be of any use

[2021-05-27 14:29] fenix-hub commented on #203
No problem. I'll se what I can get with the desktop (windows, linux, macOS) support of this feature, since it seems the feasible

[2021-05-27 18:22] #191 closed

[2021-05-27 18:23] #199 closed

[2021-05-31 22:02] fenix-hub commented on #203
Hi @LoneDespair ,
I've mentioned this issue in a PR implementing this feature for desktops.
You can test it calling the `get_google_auth_localhost()` function.

[2021-06-08 11:34] mars3142 opened #206 "[FEATURE REQUEST] Change time based token refresh to triggered"
**Is your feature request related to a problem? Please describe.**
Didn't tested it, but it could be possible, that the 1h timer for a token refresh will fail. So the next call to the Firebase would also failing unauthenticated. That's why I would get rid of the timer based refreshing.

**Describe the solution you'd like**
The token is a plain JWT, so it contains a exp attribute, which can be chec

[2021-06-08 19:20] BearDooks commented on #206
@mars3142 this would be a pretty big lift, let me check with the team and see what they think.

Thanks

Chuck

[2021-06-14 16:12] #203 closed

[2021-06-15 19:42] Firemanarg opened #207 "[FEATURE REQUEST] Google Account direct Authentication"
I'm trying to implement a platform where users can login directly with their Google Accounts, without the need of copy and paste a token.

There is an example on documentation, but apparently that's for an old version. It would help a lot if you could provide some usage examples (I don't have much knowledge about networking programming and databases <yet>, and your API helped me a lot).

Pd: This

[2021-06-17 12:30] WolfgangSenff commented on #207
This has been implemented as of: https://github.com/GodotNuts/GodotFirebase/pull/205 - Feel free to check that out. I'm going to close this issue, but there's some documentation in the PR to explain it.

[2021-06-17 12:30] #207 closed

[2021-06-17 12:32] WolfgangSenff commented on #206
This is going to be a bit too much for the time being. It's not a bad idea, and we have some thoughts on how to at least mitigate the problems you point out, but I'm prepping for GodotCon, and everyone else is busy/has lives. :) I'll leave this open for now, just making sure to reply.

[2021-06-17 12:50] mars3142 commented on #206
Cool, thanks for the reply. I know that this would be a big change, as I wrote it already within my FR.

[2021-06-17 16:38] fenix-hub commented on #207
@Firemanarg Hi,
To login directly with Google Accounts without copypaste, you just need to use this snippet (adapt it to your own needs)

[code]

When the `get_google_auth_localhost()` is called for the first time it will automatically open your browser to let you select an account. After confirmation, an error page will appear. That page is actually a success page, if everything went fine, and th

[2021-06-18 15:02] Firemanarg commented on #207
It's possible to auto-close the tab in browser when the user gets authenticated?

[2021-06-24 03:11] macktns opened #210 "New manual google auth function not exchanging successfully"
**Describe the bug**
The new get_google_auth_manual does not work in my project and no errors are shown. Replacing auth.gd with a previous version works when calling get_google_auth.

**To Reproduce**
Steps to reproduce the behavior:
I created a brand new project and installed the current version of this plugin. I use Firebase.Auth.get_google_auth_manual() which redirects me to the browser okay. I

[2021-06-24 04:21] macktns opened #211 "[BUG] Unable to update document with field that begins with number"
**Describe the bug**
Requesting an udpate with a field that begins with a number such as "22" or a combination like "2difj523ji" returns with an "invalid property path". Changing the same update to be a field that begins with a letter allows the update to go through.

**To Reproduce**
Steps to reproduce the behavior:
This is a basic update to a collection on the main current version.
collection.up

[2021-06-24 10:49] WolfgangSenff commented on #211
https://firebase.google.com/docs/firestore/quotas#limits

Extremely weird, but see the Collections, Documents, Fields header, down at the 4th one from the bottom, Constraints on field paths. The last one of those clearly makes it so you can't start it with a number.

I'm going to go ahead and close this since there's nothing we can do about it, but in the future, I may see about implementing field

[2021-06-24 10:49] #211 closed

[2021-06-24 10:53] WolfgangSenff commented on #210
I believe the workflow changed for that particular path. See here for a discussion that may help: https://github.com/GodotNuts/GodotFirebase/issues/207#issuecomment-864102021 I'll leave this open in case there's any other issue after you've finished, but I think the above might fix it for you. There's also some more info in #205 .

[2021-06-24 12:53] macktns commented on #211
Ah thank you very much. It's very odd they let you manually put fields in that start with a number, that's why I assumed this was a bug either with Godot or the plugin.

[2021-06-24 13:00] WolfgangSenff commented on #211
My first instinct was the same of course! There appears no real reason they must do that, but it must be some weird bug they themselves have had to work around, so just said to not do it. :P

[2021-06-24 13:03] macktns commented on #210
The function I would like to use is Get_google_auth_manual which is just a renamed version of get_google_auth. I don't think the work flow has changed for that function but I could be wrong. The new workflows and the linked discussions are for the new  get_google_auth_redirect and get_google_auth_localhost. I still prefer the manual copy paste because being automatically redirected to an error pag

[2021-06-24 14:48] #210 closed

[2021-06-24 14:51] fenix-hub commented on #210
@macktns Hi,
Now you should be able to use the manual function back again.
The automatic method changed the `exchange` function a little bit, so the process stopped just right there as you noticed.
Now you should be able to use the combination again
[code]

[2021-06-24 21:39] macktns commented on #210
Thank you!!

[2021-06-25 17:52] itsarjunsinh opened #213 "[FEATURE REQUEST] Implement Firebase Cloud Functions API"
Hello! Thanks for this much-needed project. It's great!

**Is your feature request related to a problem? Please describe.**
To use cloud functions, Godot projects need to write helpers to make http calls with specific headers and auth tokens. Ideally it should be in the Firebase client sdk.

**Describe the solution you'd like**
Provide API to call Firebase Cloud functions like [official Firebase c

[2021-06-25 17:55] WolfgangSenff commented on #213
Oh! That's actually a relatively new API, didn't know it existed. I'll look into it and likely implement it myself. Thanks!

[2021-06-25 17:59] WolfgangSenff commented on #213
While I implement this, by the way, you know you can have these be called indirectly through changes in the database and Firestore (and almost everything), right? Just want to make sure you're not blocked, @itsarjunsinh.

[2021-06-25 18:14] itsarjunsinh commented on #213
It didn't occur to me. It is a pretty clever short-term solution. Thanks.

[2021-06-25 18:17] WolfgangSenff commented on #213
It's actually the original way to handle it - Functions originally weren't able to be called directly. :P You could only trigger them via changes to things, because of how they're built in node.

[2021-06-30 11:10] WolfgangSenff opened #217 "Implement direct calls to cloud functions. https://firebase.google.com/docs/functions/callable#call_the_function"

[2021-07-07 16:06] lokimckay opened #218 "[FEATURE REQUEST] Support real-time listening via `onSnapshot` method"
**Is your feature request related to a problem? Please describe.**
I need some way for my Godot application to be notified when a document or collection changes in Firebase

**Describe the solution you'd like**
Support the [`onSnapshot()`](https://firebase.google.com/docs/firestore/query-data/listen) method

**Describe alternatives you've considered**
Polling the database at intervals - undesired

[2021-07-07 16:13] WolfgangSenff commented on #218
Unfortunately, we cannot support this at this time, as it is only supported in Firestore through gRPC. This is a different protocol from what's implemented in Godot, and while I implemented an entirely new protocol in the Realtime Database, it is a much simpler one than gRPC, which is a huge, convoluted library that I have no intention of implementing. Sorry! I'll be closing this. Be aware we've g

[2021-07-07 16:13] #218 closed

[2021-07-07 16:14] WolfgangSenff commented on #218
Oh, as quick note, you can do listening for the realtime database, so it's possible to work around this by storing your data there. But unfortunately that's the best we can do at this time (it's a very small team).

[2021-07-07 16:20] lokimckay commented on #218
@WolfgangSenff
No worries, thank you for the info

The Wiki page for Realtime Database doesn't give mcuh of a hint on how to achieve this. Are there any examples you know of that I could look at?

[code]

Does `db_ref` here contain data? or just a reference

[2021-07-07 16:22] WolfgangSenff commented on #218
The reason it looks like that is because that's more or less how the Firebase Android library looks, so yes, it would have the data. You do have to connect to the listeners for it, but you can do that with db_ref.connect(), and there should be more info in the wiki about it. If you need to filter, that's what the dictionary in the second variable is for, and there should be data about that (and sh

[2021-07-07 16:25] WolfgangSenff commented on #218
https://github.com/GodotNuts/GodotFirebase/wiki/Realtime-Database#firebasedatabasereference

So these are mostly the signals you want to use. The data won't exist until they have fired (the new_data_update signal will contain all the initial data that is in the path you set, and patch_data_update will contain anything that is changed with an update command - this does not include, it's important t

[2021-07-08 07:06] Zarasan commented on #201
Batch Get is easily implementable, I will put up a pr for it with my implementation soon.
But Batch Write has some issues with it where it doesn't give me permission outside of their API explorer (can only give permission if it has oauth2), so I switched to implementing commit instead of Batch Write.

https://stackoverflow.com/questions/63451909/firestore-rest-api-batchwrite-permission-denied

[2021-07-11 14:39] lokimckay opened #219 "[BUG] `login_failed` signal emitted when `signup_with_email_and_password` request fails"
**Describe the bug**
As per the Wiki
( https://github.com/GodotNuts/GodotFirebase/wiki/Authentication-and-User-Management#signup-with-email )

The `signup_with_email_and_password` method emits a `login_failed` signal when the signup attempt is unsuccessful

**Impact**
This is problematic when trying to display feedback messages to the user
There is no way to differentiate between a signup failure

[2021-07-11 14:40] WolfgangSenff commented on #219
Hm. This is a good idea and shouldn't be too hard. I'll implement it when I have some time. Thanks for the bug!

[2021-07-12 12:10] ArtistSaihaan opened #220 "[BUG] Error Code 3 while adding document"
I was just experimenting with this plugin/addon. But when I tried to add document for the first time it worked. But for the second time it didnt. It gave error code of 3 and error was:
invalid get index error {on base: disctionary}

I wrote:
Collection.add(DocumentName, {fields})

While in wiki:
var add_task : FirestoreTask = firestore_collection.add("DOCUMENT_ID", {'name': 'Document Name', 'activ

[2021-07-12 13:16] BearDooks commented on #220
@ArtistSaihaan Can you share the code you are using to add a document

In the tester app we use, I have something like this written

[code]

I also have some error functions that print out what went wrong if you need me to share those. You can also find them here
https://github.com/GodotNuts/GodotFirebase/wiki/Firestore#firestoretask

Thanks

Chuck

[2021-07-12 13:34] ArtistSaihaan commented on #220
Hero BearDooks/Chuck I am sharing you the code:
extends Node2D

# Declare member variables here. Examples:
# var a = 2
# var b = "text"

# Called when the node enters the scene tree for the first time.
func _ready():
	pass # Replace with function body.

# Called every frame. 'delta' is the elapsed time since the previous frame.
#func _process(delta):
#	pass

func _on_SignUp_pressed():
	get_tree().

[2021-07-12 13:41] BearDooks commented on #220
OK. By chance is the document name the same as the first one, or does it start with a number?

Where is the data being fed from?

Everything else looks correct to me.

Chuck

[2021-07-12 14:39] ArtistSaihaan commented on #220
Nope everything is correct but then also its happening

[2021-07-12 17:11] ArtistSaihaan commented on #220
ok i figured it out! it was cache path error. And some code error i fixed them

[2021-07-12 17:11] #220 closed

[2021-07-12 19:19] BearDooks commented on #220
@ArtistSaihaan Thanks for the heads up. Was there anything in the plugin you needed to change?

[2021-08-12 19:08] LoneDespair commented on #203
Tysm! wasn't expecting to be implemented so fast

Is now using this feature on a project

[2021-08-24 18:23] Nimishxyz opened #224 "[BUG] data = bod.error"
**Describe the bug**
I am Dekho gaming from Discord & i found this issue while using this plugin
I get this error invalid get index error on base Dictionary at line 164 in firestore_task.gd data = bod.error

**To Reproduce**
I don't know how to reproduce but this error comes while login in and while using it in editor when i use it through adb it doesnt come

**Expected behavior**
It should give m

[2021-09-08 14:41] #224 closed

[2021-09-08 15:31] BearDooks commented on #219
@lokimckay We are currently working on this request and hope to have it put into the plugin soon. Thanks again for the suggestion.

Chuck

[2021-09-08 16:39] #219 closed

[2021-09-09 02:26] BearDooks commented on #106
Closing this for now

[2021-09-10 14:47] WolfgangSenff opened #230 "[FEATURE REQUEST]: Investigate custom export template for Firebase Cloud Messaging"
**Is your feature request related to a problem? Please describe.**
We currently cannot support the Firebase Cloud Messaging API simply because we do not have a custom export template that provides for notifications. The notification channel has to be opened up via the actual Android/iOS app, not the Godot runtime, so it requires the custom template.

**Describe the solution you'd like**
I'd like t

[2021-09-21 14:52] WolfgangSenff commented on #106
I'm reopening this as we finally have someone requesting it other than myself. :)

[2021-09-22 11:18] #106 closed

[2021-09-22 11:19] WolfgangSenff commented on #106
Okay, figured out why we couldn't do it! Closed again because it uses gRPC and we cannot (easily) support that in a REST service.

[2021-09-22 20:53] fenix-hub opened #237 "Firestore Query fails for nested collections"
Ah my bad, I wrote the question incorrectly. I've edited it to include the correct slash. Below is the error I get.

[code]

I tried with the opposite slash for fun, and while it accepts this as a parameter, I'm fairly certain it isn't the way to query a nested collection. I'm looking for a concrete example that works.

_Originally posted by @pndalal in https://github.com/GodotNuts/GodotFirebase/d

[2021-09-25 10:58] #237 closed

[2021-09-26 19:09] fenix-hub commented on #217
#238

[2021-09-26 20:17] WolfgangSenff commented on #217
Closed by #238.

[2021-09-26 20:17] #217 closed

[2021-09-26 20:17] #213 closed

[2021-09-30 13:15] vkbubu11 opened #239 "How to set the name of the folder in RealTime database? [FEATURE REQUEST]"
I was able to make the plugin work, and was able to upload my data to Firebase RealTime database. Sadly I can't modify the name of the new folder in Firebase.

Can somebody help?
Thanks!

[2021-10-01 21:54] BearDooks commented on #239
@vkbubu11 just to be clear, you are looking to change the name of a folder in the RTDB using the plugin right?

Chuck

[2021-10-02 14:54] WolfgangSenff commented on #239
@vkbubu11 - I'm confused what you mean. There's no such concept as a folder in the real-time database, to my knowledge. Do you mean Firestore?

[2021-10-02 18:11] WolfgangSenff opened #241 "[FEATURE REQUEST] Implement delete function for real-time database"
**Is your feature request related to a problem? Please describe.**
Yes - our plugin doesn't currently allow deleting items from the database. It isn't a complicated problem to solve, but should be supported within the plugin.

**Describe the solution you'd like**
https://firebase.google.com/docs/reference/rest/database#section-delete

Simply implement this endpoint.

**Describe alternatives you've

[2021-10-04 13:10] WolfgangSenff commented on #154
Closed by #240. See https://github.com/GodotNuts/GodotFirebase/pull/240 for more details.

[2021-10-04 13:10] #154 closed

[2021-10-05 16:58] haojie9777 opened #243 "[BUG]"
**Describe the bug**
Upon exit of Godot application, several memory leak and cleanup errors were produced on console. which can be seen was resulted from the Firebase add-on classes.

**To Reproduce**
Install firebase addon. Exit godot program and observe the console log.

**Expected behavior**
Firebase resources should be freed.

**Screenshots**
![image](https://user-images.githubusercontent.com/

[2021-10-12 01:27] shafnaz opened #245 "[BUG] crash when not connected to internet"
**Describe the bug**
When your not connected to the internet, and you perform a task i.e. sending data to Firestore Database, the app crashes.

**To Reproduce**
Disable internet before submitting firebask task.
[code]

**Expected behavior**
[code]
or something like that

**Screenshots**
![image](https://user-images.githubusercontent.com/37254287/136875049-5131880c-fb6d-4d3f-8c28-685bcf726421.png)

[2021-10-13 09:23] KekLuck opened #247 "[BUG] .Env and hardcoded configuration collides"
**Describe the bug**
So by mistake I filled out the hardcoded config data AND the data in the .env file. Once that happend I got the following error (see screenshots)

**To Reproduce**
I usually use my .env file. I used the
[code]
code i found in the discord to login anonymously. Once I fill out the firebase _config dictionairy with the same credentials it stops working and I get the error in the

[2021-10-13 14:12] shafnaz opened #248 "Is there anyway to get the createtime from Firestore as a variable and use it in my documents?"
**Is your feature request related to a problem? Please describe.**
Can we have the option to add created time from Firestore instead of relying on OS.get_datetime(). The reason is to not depend on a system's time which can be manipulated.

**Describe the solution you'd like**
A method get_firestore_document_create_time()

**Describe alternatives you've considered**
I haven't tried other APIs for t

[2021-10-13 14:22] #248 closed

[2021-10-15 13:20] #247 closed

[2021-10-15 15:10] glendahz opened #250 "[BUG] Chaining FirestoreQuery.where() not returning expected result."
**Describe the bug**
When trying to chain two where() queries using the AND operator, the query does not always return an interesction of the two queries.

**To Reproduce**
Use the documents:
**id: test1**
studentID: "student1"
questionID: "question1"
**id: test2**
studentID: "student1"
questionID: "question2"
**id: test3**
studentID: "student2"
questionID: "question1"

And submit the following qu

[2021-10-23 16:11] paperjack93 opened #257 "query with no results breaks system [BUG]"
**Describe the bug**
Make a query that is sure to have no results (ex non-existing collection as from)
Errors appear:  [Firebase Error] >> Offline queries are currently unsupported
and another one

**Expected behavior**
return empty array

[2021-10-24 11:05] shafnaz opened #258 "[BUG] nextPageToken is returned as a String only. No key & string return."
**Describe the bug**
`nextPageValue `only returns a string

**To Reproduce**
[code]
returns:

 AFTOeJwenuu5TLABMMWVpskruVa0RHYxt6D-WUKOhvsVD3-iXCduHUOoOAqooiM5wbpR-c3WLGp91JT3wRCb1OaGaZecfhTT9eI8YB-TcV--ypzM4UJDbZmG_0

This only returns a string

**Expected behavior**
returns:

next_page_token:  AFTOeJwenuu5TLABMMWVpskruVa0RHYxt6D-WUKOhvsVD3-iXCduHUOoOAqooiM5wbpR-c3WLGp91JT3wRCb1OaGaZecfhTT9eI8YB-

[2021-10-29 01:58] shafnaz opened #260 "[BUG] Why is this error showing up: _resolve_hostname: getaddrinfo failed! Cannot resolve hostname."
**Describe the bug**
I'm trying to make use of Storage, but keep getting the same error for all functions. I tried Put File, Put String, List All Objects. Everything else  is working, I can log in, send documents, get documents. My .env has all the values. I followed the wiki installation guide, all set up and working great. Now I'm trying out the Storage functions, it throws errors. I don't know

[2021-10-30 14:42] BearDooks commented on #260
@shafnaz

I need to make sure that the plugin is using the right address for you when it is trying to upload. Can you please add the following line to `addons/godot-firebase/storage/storage.gd` by the following lines before the `_process_request(task)` on Line171

[code]

This should print out the URL you are trying to connect to when uploading to storage. I would also suggest taking the `(1)` out

[2021-10-30 17:44] shafnaz commented on #260
Alright, we're getting somewhere. Sorry, I have to remove part of the app name, those are only letters.

![image](https://user-images.githubusercontent.com/37254287/139543470-430d78c5-5faf-4418-952a-a2683cf16268.png)
![image](https://user-images.githubusercontent.com/37254287/139543482-166c3d63-70f5-4128-97c3-8eb6afbf0340.png)
![image](https://user-images.githubusercontent.com/37254287/139543524-1

[2021-10-30 17:45] shafnaz commented on #260
There is something strange with that print. what is the "o"

[2021-10-30 18:24] BearDooks commented on #260
That is normal. I need to run some tests on my machine I thought it would print more, but maybe I need to add something else.

[2021-10-30 19:55] arpidano opened #261 "[BUG] Error with Save Auth"
**Describe the bug**
save_auth and check_auth dont work, I get the following error when I try to use check_auth
![image](https://user-images.githubusercontent.com/22946619/139556794-3c78eb65-22de-4d77-8266-e6f0fdaf6fda.png)

**To Reproduce**
[code]
**Expected behavior**
the autherntication data to be stored and then to be loaded once the program restarts

**Environment:**
 - OS: Windows 10

[2021-10-30 20:04] BearDooks commented on #261
@arpidano

Just reading through this quick. If the error is on check auth there might an an issue with the saved auth file. Can you delete it and try saving it again?

The code looks correct from my point of view.

Thanks

Chuck

[2021-10-31 16:50] BearDooks commented on #260
@shafnaz something weird is going on, you should see a `/v0/` at the start of your debug data
![image](https://user-images.githubusercontent.com/20961993/139593844-369da078-d604-43e6-9691-68a10dd33221.png)

Can you confirm these lines are the same in your storage.gd file

![image](https://user-images.githubusercontent.com/20961993/139593859-3854365c-0960-45b9-8bf8-616a00feea0d.png)

Thanks

Chuck

[2021-10-31 17:04] BearDooks commented on #261
@arpidano

Can you please change your login succeed function to this and let me know if it makes any difference

[code]

I downloaded the latest version and this code has worked perfect for me, so I am not sure what is going on with your code. Worse comes to worse I may ask you to share you code with me privately so I can look through it, (But I would ask you to scrub all parts that tie into your

[2021-11-01 22:58] shafnaz commented on #260
![image](https://user-images.githubusercontent.com/37254287/139752914-47598500-f839-4929-a0fe-921558b9dda9.png)

not the same

[2021-11-01 23:02] shafnaz commented on #260
![image](https://user-images.githubusercontent.com/37254287/139753196-fde9676e-3664-4abc-a496-0965f0ff2514.png)

Also tried with that code, with no luck.
![image](https://user-images.githubusercontent.com/37254287/139753225-3c9d06db-a86d-44d9-b19f-a811208997a8.png)
![image](https://user-images.githubusercontent.com/37254287/139753268-312de19a-63f1-42b8-af5b-8cf134053049.png)

[2021-11-01 23:04] BearDooks commented on #260
@shafnaz ok, this looks like an older version of the plugin. Can you please try this link to download a new copy.

https://github.com/GodotNuts/GodotFirebase/archive/refs/heads/main.zip

I would advise making a backup of the .env file, and then removing the entire addon folder. Then reinstall with this download. You can confirm it's the right version if your storage.gd has line 36 like mine.

Than

[2021-11-01 23:06] shafnaz commented on #260
You can check the latest release, that line is not updated
![image](https://user-images.githubusercontent.com/37254287/139753597-7575e426-a7a2-4d46-adde-8424f9d515fa.png)

[2021-11-01 23:07] shafnaz commented on #260
ignore the above, i missed the url you sent

[2021-11-01 23:09] shafnaz commented on #260
Works like a charm!

[2021-11-01 23:10] BearDooks commented on #260
Awesome! Glad it worked!!

[2021-11-01 23:10] #260 closed

[2021-11-02 00:08] BearDooks commented on #257
@paperjack93 I have tried everything I can think of and I can't replicate the issue. Have you had any luck?

Thanks

Chuck

[2021-11-02 00:08] BearDooks commented on #245
@shafnaz any update on this?

Thanks

Chuck

[2021-11-02 00:16] shafnaz commented on #245
well I just log in like this:
![image](https://user-images.githubusercontent.com/37254287/139759166-c3da6f62-469e-41a6-be2a-9ee277e25a0b.png)
I disable my connection to wifi, and then run the project

[2021-11-02 00:18] BearDooks commented on #245
OK. Can you break that code down for me since it does not look like the normal code we run.

I can only assume `userinfo` is another node somewhere?

Thanks

Chuck

[2021-11-02 00:20] shafnaz commented on #245
Oh, right. Sorry about that.
![image](https://user-images.githubusercontent.com/37254287/139759539-25e62feb-6704-48bd-9bac-2eba90b99f7d.png)

pretty straight forward

[2021-11-02 00:34] BearDooks commented on #245
What happens after that 4 second yield time. Can you share more of the code?

[2021-11-02 00:41] shafnaz commented on #245
Well nothing relating to log in, I create a document after that. I just give it some space. The issue still happens even if I remove any code after that.

[2021-11-02 00:43] shafnaz commented on #245
![image](https://user-images.githubusercontent.com/37254287/139768928-769e37e8-90f9-4cce-b09d-41f706785842.png)

[2021-11-02 00:50] shafnaz commented on #245
hold on, I'm getting something else. I removed the login code, I still get the error, it's coming from something else

[2021-11-02 00:54] shafnaz commented on #245
Alright let's close this issue, The error is coming from a scene. _process is running a code

[2021-11-02 00:54] #245 closed

[2021-11-03 10:20] Pukkah commented on #261
It looks like manual_token_refresh() function has unneeded _base_url  in request url.
`# Function is called when requesting a manual token refresh
func manual_token_refresh(auth_data):
	auth = auth_data
	var refresh_token = null
	auth = get_clean_keys(auth)
	if auth.has("refreshtoken"):
		refresh_token = auth.refreshtoken
	elif auth.has("refresh_token"):
		refresh_token = auth.refresh_token
	_need

[2021-11-08 12:22] WolfgangSenff commented on #261
Good call out! Can you open a PR with these changes? We'll expedite it through.

[2021-11-08 20:36] BearDooks commented on #261
@Pukkah thanks for finding that. I have merged it into the codebase

[2021-11-08 20:36] #261 closed

[2021-11-09 04:49] Rob-bie commented on #257
This is definitely a thing. I don't have much insight on how to reproduce this BUT I have only observed this on Android. It happens rather infrequently but when it does it makes everything explode. @paperjack93 was correct in that because the body is empty it thinks it's an offline query.

`firestore_task.gd`

[code]

And because `bod` isn't a dictionary it doesn't think it failed:

[code]

and we

[2021-11-09 15:04] BearDooks commented on #257
@WolfgangSenff and @fenix-hub maybe we need to make a new case for an empty bod, but check if you are still online and soft error out? I don't think we ever planned a case if the user is trying to query something, but they made a mistake.

If this truly is an issue on android, maybe we need to also dig into that and code something special for it?

Thinking out loud here

[2021-11-09 15:31] fenix-hub commented on #257
In my opinion an empty body should not be treated as an offline request in the first place, I could give it a look after work

[2021-11-09 15:49] shafnaz opened #263 "[FEATURE REQUEST] Any updates on snapshots? listeners?"
Hello contributors,
Great work with the plugin!
Are there any news updates, plans for listeners or snapshots? That's a great feature to have for multiplayer games, real-time and turn-based multiplayer games. Can't seem to find alternatives because this plugin makes programming less work, especially if you don't know a lot about security.

[2021-11-09 15:52] WolfgangSenff commented on #263
We already support listeners/snapshots for the real-time database. :) They're just implemented as signals, because that's how Godot does it! You can't really effectively use this plugin (or any REST-based Firebase plugin) for anything super real-time though - be careful with that. I know, I know, it says real-time in the name, but it is most definitely not even close, and it is very expensive to t

[2021-11-09 17:45] Rob-bie commented on #257
Here's a minimal reproducible case: https://github.com/Rob-bie/godot-firebase-firestore-bug

[2021-11-09 18:47] shafnaz commented on #263
Alright I'll check it out. I hope better support comes out for real-time games

[2021-11-09 18:52] WolfgangSenff commented on #263
It won't. :/ I talked to the team about it, they are not focusing on that. They're focusing on speeding it up for sure, but they say that at least the REST-based API (which is all we can rely on for this in GDScript) can only ever be somewhat slow. They've tested it pretty exhaustively, because the REST API is used in a ton of other game engines as well, and it doesn't work really in any of them.

[2021-11-09 18:52] #263 closed

[2021-11-12 10:58] #241 closed

[2021-11-20 14:33] shafnaz opened #265 "[FEATURE REQUEST] Is there a feature to remove data from realtime database?"
**Is your feature request related to a problem? Please describe.**
I can't find a method to remove data from realtime database. Any help?

Thank you

[2021-11-20 15:11] WolfgangSenff commented on #265
Delete was added here: https://github.com/GodotNuts/GodotFirebase/pull/264

Closing this now since it already exists.

[2021-11-20 15:11] #265 closed

[2021-11-21 02:01] shafnaz opened #266 "[BUG] Using integers as keys in Realtime Database causes crash after updating its values"
**Describe the bug**
Are we allowed to use integers as keys in Realtime Database?
After having connected to a reference path in Realtime Database, after I update values in the Realtime Database, I get an error in Godot.

**To Reproduce**
1. In Godot, Connect to a Realtime Database path that contains integers as keys
![image](https://user-images.githubusercontent.com/37254287/142746472-c8f20028-677

[2021-11-22 05:35] TheDuckCow opened #270 "[FEATURE REQUEST] Maintain order of the Firebase AutoLoad"
**Is your feature request related to a problem? Please describe.**
The Fireabse autoload is forced to always be last out of all autoloads, because it is always programmatically added even if it existed previously in the project. I have an issue where my file always loads with errors, which also messes with exporting and running tests from cli, simply due to the AutoLoad for Firebase always being l

[2021-11-22 05:40] TheDuckCow commented on #270
To add some details, see the below errors I see on startup. Copying the whole thing just to be explicit, but yes this is referencing many of my own files where I'm trying to reference the AutoLoad. I could make many of these go away by loading in the instance manually, but then it's a different object vs the autoload.

[code]

[2021-11-22 11:18] WolfgangSenff commented on #270
This must be a bug in your Godot. I'm not sure why it would be doing this, but it doesn't do it for any of my projects. Here's an example of one that remains in the correct order at all times. We do nothing regarding the order of Firebase, and have no control over it - I recommend submitting this bug report to the Godot team itself. I'll leave this open for a little bit while checking out some stu

[2021-11-22 14:24] WolfgangSenff commented on #270
Okay, talked to the Godot team - looks like this may be a bug in Godot, and if you can produce a viable minimum reproduction project and send it to them, they'll look into it. Note that I still do not have this happen with mine above, so I'm not sure what's going on at all - but we did discuss how it might be coming about for others and it seems there could be a reasonable chance it could be fixed

[2021-11-22 14:24] #270 closed

[2021-11-22 14:34] gitumar opened #271 "Firebase Hosting"
Does GodotFirebase support firebase hosting? If not, how do we execute firebase hosting for Godot HTML deploy? Thanks

[2021-11-22 14:35] WolfgangSenff commented on #271
It should! There isn't really anything to be done programmatically though. But I do know you can host a site and host a Godot game in it. You basically want to do it the same way you normally use hosting, I guess. @BearDooks has done this before - would you be able to write a quick summary of how to do it in the wiki, Chuck?

[2021-11-22 14:37] BearDooks commented on #271
@gitumar , @WolfgangSenff is 100% correct. We did test this in the early days of working on this plugin. Let me find my notes from it and get something up in the wiki for you.

Chuck

[2021-11-22 16:09] BearDooks commented on #271
@gitumar

https://github.com/GodotNuts/GodotFirebase/wiki/FirebaseHosting

Please see this page. Its very easy to do this, which is why the wiki is pretty small for this section. Firebase will walk you through pretty much everything you need to do

[2021-11-22 16:09] #271 closed

[2021-11-23 02:50] TheDuckCow commented on #270
Thanks for going the extra mile connecting with the Godot team! I wonder if it was introduced with 3.4 as I recently switched to using this, I'll see if it occurs in 3.3 and report back here (ack for this being closed in the meantime).

Do you have a thread/topic where you posted this for Godot itself, so I can reply there?

[2021-11-23 05:51] TheDuckCow commented on #270
After a bit of time trying to replicate the issue, I've narrowed it down to being oddly enough an issue with the WAT testing addon, rather than with Godot itself; the issue arises only when the WAT plugin is enabled, and ceases when disabled. See above referenced issue if curious.

[2021-11-24 15:08] shafnaz opened #272 "[FEATURE REQUEST] Is Realtime Database really slow as this example?"
Hello developers,

I'm working on a project and want to know if this behavior is expected. This is a demo of the gameplay.
Each time the player makes a move, an `update(path : String, data : Dictionary)` is called.
My Download: 6.28 Mbps
My Upload: 3.07 Mbps

You guys mentioned it's because of the REST API which is the only supported option at the moment.
I guess I will have to make my game turn-b

[2021-11-24 15:12] WolfgangSenff commented on #272
Yes - even non-REST-based Firebase APIs are not fast enough to do what you're suggesting. On top of that, doing what you're suggesting will cost a *lot* of money. The Firebase team has explicitly said that they will never be able to support true real-time functionality needed for gaming. Closing this because we cannot change that.

[2021-11-24 15:12] #272 closed

[2021-11-26 20:46] BearDooks commented on #257
@Rob-bie thanks for sending that over. Apologies I have been away. I will take a look at it and talk with @fenix-hub

Chuck

[2021-11-26 20:48] BearDooks commented on #258
@shafnaz Can you make a minimal project to demonstrate this, or share some more details. I have some time coming up where I might be able to look at it.

Thanks

Chuck

[2021-11-26 20:50] BearDooks commented on #266
@shafnaz this might be Firebase doing this. I am not sure they store it as an integer, so it might be converted into a string. Can you try converting your side to a string before you use it? You would still be able to keep your numbers, but it would be a string instead of an integer

Thanks

Chuck

[2021-11-26 22:25] shafnaz commented on #266
Sure.

[2021-11-26 22:25] #266 closed

[2021-11-26 23:03] WolfgangSenff commented on #266
Even if that does work, I should note that you should not be using integers as your keys. There's a known issue with that in Firebase itself. When and where possible, you should be relying on Firebase's own key system by using "push" for lists - that's the whole point of the realtime database.

[2021-11-28 20:42] mars3142 opened #274 "[FEATURE REQUEST] Firebase Analytics"
**Is your feature request related to a problem? Please describe.**
It would be great to use Firebase Analytics with your plugin.

**Describe the solution you'd like**
Because Firebase Analytics offers a web and c++ implementation, so there should be a REST api for it. There is also a Medium article about it: https://itnext.io/using-firebase-analytics-server-side-64ffacafa6c3

PS: Maybe you can fin

[2021-11-28 20:50] WolfgangSenff commented on #274
There is not - no REST API exists that is usable by the public. That said, we could attempt to make a similar call, but I'm reluctant to as the Firebase team has suggested it's capable of changing at any moment, and that the Measurement API does not fulfill the same requirements as Analytics. I'll leave this open for a bit as I review what that person did for the server side, but I'm hesitant to a

[2022-02-06 14:53] kopkako opened #280 "Is offline support for Cloud Firestore implemented?"
Hi, just discovered this and really excited to try it out, looks great (and thanks for your work!)

Unfortunately, I require the Cloud Firestore offline functionality and read in the Wiki that
"Offline support - preliminary investigations have begun"

I then discovered issue #142 which was merged, so maybe this is already implemented and the Wiki is simply outdated?

[2022-02-07 03:43] WolfgangSenff commented on #280
There are a few bugs with caching at the moment, but I haven't launched a full investigation into them yet. That said, the wiki is just out of date, yes. 😁 You should be able to at least try it and report back with bugs! I'm going to close this though, open a new bug if you find any please! I'll fix the wiki tomorrow, thanks for pointing it out.

[2022-02-07 03:43] #280 closed

[2022-02-28 17:29] #274 closed

[2022-02-28 17:53] hnugz opened #281 "Firestore collection updates of nested objects aren't handled properly [BUG]"
**Describe the bug**
Firestore collection updates of nested objects aren't handled properly.  Firebase documentation indicates dot notation should be used to update a single object that's nested.

https://firebase.google.com/docs/firestore/manage-data/add-data

When using dot notation in godot, the nested object to be updated is actually removed but leaves the other nested objects in place.

**To

[2022-02-28 19:32] #281 closed

[2022-04-16 07:58] iRedFox opened #288 "[BUG] Firestore not being able to fetch/add data"
**Describe the bug**
Firestore doesn't allow me to fetch/add data even though the collection does exist.
I've drawn a flow chart for how does my program work (I can provide source-code if needed, contact me through discord ``RedFox#0001`` (ping me in official GodotFirebase discord)

console:
[code]

**To Reproduce**
Sign-in and authenticate through google sign-in, once logged signal have been emit

[2022-04-16 14:32] iRedFox commented on #288
The issue was because my User schema is different than code schema.
var add_task : FirestoreTask = usersCollection.add(login_dict.email, {'username': login_dict.firstname, 'points': 0, 'country': "", 'skins': []})

Is different than the one in Firestore.

[2022-04-16 14:32] #288 closed

[2022-05-11 03:54] iRedFox opened #291 "[FEATURE REQUEST] Implementation of transactions for Firestore"
**Is your feature request related to a problem? Please describe.**
Its hard to sync data between all players. As an example, if three players are contributing to a global field value on the database. If all them did update on the same time, there will be desyncronization.

**Describe the solution you'd like**
Transcations for Firestore

**Describe alternatives you've considered**
Realtime database

[2022-05-27 10:22] handre-dev opened #294 "[BUG] Calling _on_error with 4 arguments"
I'm using latest version

When trying to get a document after authentication I get an error 404 but the error printing breaks and return the following message.

E 0:00:02.499   emit_signal: Error calling method from signal 'task_error': 'Reference(firestore_collection.gd)::_on_error': Method expected 3 arguments, but called with 4..
  <C++ Source>  core/object.cpp:1236 @ emit_signal()
  <Stack Tra

[2022-06-04 21:18] Kontrano opened #295 "[BUG] Issue with retrieving firestore data with same code on 2 machines"
**Describe the bug**
I have 2 PCs both running win11, Godot 3.4.3, same project. On one pc I can connect to Firestore and retrieve data just fine, on the other I cannot and get the Firebase Error "Unknown error when returning from task",

 It seems to fail on the first get document that is on line 93/94 in App.gd, I have narrowed it down to getting a 404 response code from the _on_request_complete

[2022-06-15 15:05] Firty opened #298 "Firestore Update[BUG]"
var t0: FirestoreTask = Firebase.Firestore.collection(NAME_COLLECTION).update("NAME_DOCUMENT",{"00000000000":{"KEY0":"VALUE","KEY1":"VALUE","KEY2":"VALUE"}}).
Return {code:400, message:Invalid property path "00000000000"., status:INVALID_ARGUMENT}
Coment: there is a failure to issue: emit_signal(signal_name, error.code, error.status, error.message, task). But this has already been reported.

The f

[2022-06-15 17:56] Firty commented on #298
Just to increase... I manually entered these values ​​into Firestore. And I used the get function.
Returned the following Field:
{fields:{00000000000:{mapValue:{fields:{GEN:{stringValue:0}, NASC:{stringValue:16/12/1996}, NOME:{stringValue:ADRELINA DA SILVA LESSA}}}}, 00000000000:{mapValue:{fields:{GEN:{stringValue:1}, NASC:{stringValue:16/12/1994}, NOME:{stringValue:EZEQUIEL WILHELM RIBEIRO}}}}}}

[2022-07-02 01:19] KpoJIuk06 opened #302 "Signal for send_password_reset_email [FEATURE REQUEST]"
Hi,
First I would like to thank you for the work you have done.
During the use of functions and signals, a password recovery signal was required.
To understand that if the letter is sent, issue a message about sending the letter, and if the wrong email is entered, then issue an error message.Since the signals shown below, as well as in the documentation, none of them returned a response.

func _re

[2022-07-02 01:22] KpoJIuk06 opened #303 "send_password_reset_email -Signal [FEATURE REQUEST]"
First I would like to thank you for the work you have done.
During the use of functions and signals, a password recovery signal was required.
To understand that if the letter is sent, issue a message about sending the letter, and if the wrong email is entered, then issue an error message.
Since the signals shown below, as well as in the documentation, none of them returned a response.

func _ready

[2022-07-02 11:29] #302 closed

[2022-07-08 22:32] jamespatrickleduc opened #304 "[BUG] The wiki does not describe Cloud Functions correctly"
**Describe the bug**
The wiki describing Cloud Functions is incorrect.

**To Reproduce**
Go to the Cloud Functions page in the wiki: https://github.com/GodotNuts/GodotFirebase/wiki/Cloud-Functions

**Expected behavior**
The wiki should describe FirebaseFunctions and FunctionTasks, but instead the wrong classes are described.

[2022-07-08 22:37] WolfgangSenff commented on #304
Oh for pity sake. Must have copy/pasted the page and forgot to update the values. I'll try to get these in this weekend while fixing a non-documentation bug.

[2022-07-11 20:05] WolfgangSenff commented on #304
I have updated the page, feel free to check it out now. I haven't tested it because I'm not in a position to, but it's pretty straight-forward; feel free to let us know with a new issue if you run into anything unexpected or borked.

[2022-07-11 20:05] #304 closed

[2022-07-12 06:45] fenix-hub commented on #304
Hi, I've added an example in the wiki page
https://github.com/GodotNuts/GodotFirebase/wiki/Cloud-Functions

[2022-07-17 20:21] BearDooks commented on #294
@OvervaultDev Sorry I just noticed there are some issues that need to be looked at. Is this still a problem? If so can you share some of the code that is causing the error?

[2022-07-17 20:25] BearDooks commented on #303
@KpoJIuk06 Let me check with the team. I can't remember if this was going to be in an upcoming release. If not it looks like it should be not to bad to put in there.

Thanks

Chuck

[2022-07-17 20:28] BearDooks commented on #298
@Firty I am not sure what is going on there. The wiki has some notes on how to use the function. https://github.com/GodotNuts/GodotFirebase/wiki/Firestore#update-a-document

There is also the test harness we use to test code before release. https://github.com/GodotNuts/GodotFirebaseTestHarness It has some good examples of how to do some things if you want to check it out. If that still doesn't wor

[2022-07-17 20:29] BearDooks commented on #295
@Kontrano Did this ever solve itself? I had some weird issues with Firebase recently, and I swear Google is doing something on the backend.

Thanks

Chuck

[2022-07-17 20:30] WolfgangSenff commented on #298
Ahh, just saw this, sorry! You cannot have fields in Firestore that have integer keys. They are special to the internals of Firestore and reserved.

[2022-07-17 20:30] #298 closed

[2022-07-18 12:59] KpoJIuk06 commented on #303
And also func _on_FirebaseAuth_request_completed(result_code, result_content):
print("result_request_code: " + str(result_code))
print("result_request_content: " + str(result_content))
Didnt get information if it wrong email. Only Login Failed call back

[2022-07-18 13:57] KpoJIuk06 commented on #303
Done .
Thanks
func _on_FirebaseAuth_auth_request(result_code, result_content):
	print("result_auth_code: " + str(result_code))
	print("result_auth_content: " + str(result_content))
	if result_code != 1:
		$Notification.text = "Wrong email address"
	else:
		$Notification.text = "We just sent an email with a password reset link, please click the link to reset your password"

[2022-07-18 13:58] BearDooks commented on #303
You shouldn't need to do some of that. The plugin has some builtin code to display errors in the console for things.

This is inside the `auth.gd` file

[code]

you can probably parse out this message

[2022-07-18 13:59] KpoJIuk06 commented on #303
its enough for me with result code =)

[2022-07-18 14:00] #303 closed

[2022-08-23 23:02] Kotin-for-win opened #305 "[BUG] _do_handshake: TLS handshake error: -9984 and then Invalid operands 'String' and 'int' in operator '!='"
**Describe the bug**
I am behind a school WiFi network what signs their own SSL certificates. When my code I see this:
![image](https://user-images.githubusercontent.com/109999292/186280114-c784cfc4-8a36-400a-9048-07be842695df.png)
And then this:
![image](https://user-images.githubusercontent.com/109999292/186280139-3f5fb57b-5676-4fbc-8f24-fe3788b30d43.png)
And it doesn't look like GodotFirebase d

[2022-08-24 02:42] Kotin-for-win commented on #305
Hi! @BearDooks I've seen you solve so Firestore issues before. I was just wondering if you could please help out with this. Thank you for making such a great repo, it allows me to use my favourite cloud service on my favourite game engine and is fantastic!

[2022-08-24 03:13] BearDooks commented on #305
Hey @Kotin-for-win, I was just reading up on this. I need to see if I can find that error in the documents somewhere, but best guess is the school WIFI is brokering the SSL connection for you and for some reason they are not trusting the connection, or Google does not like the man in the middle.

If you test this outside of this network does it work fine?

[2022-08-24 03:16] #295 closed

[2022-08-24 03:22] Kotin-for-win commented on #305
Yes, it does. Thank you so much for your help.

[2022-08-24 03:55] Kotin-for-win commented on #305
Do you know if there is a workaround, or will I have to only work on non-school WiFi? Thanks again, Kotlin-for-win

[2022-08-24 04:07] Kotin-for-win commented on #305
@BearDooks , I just discovered that I get _do_handshake: TLS handshake error: -9984 when I try and download the export templates within the Godot Editor. I think the error must have something to do with Godot's internal web request handler, and it not liking the self-signed SSL certificates.
Do you know if it is possible to turn off this SSL certification or trust my IT Department's certificate wi

[2022-08-24 04:40] Kotin-for-win commented on #305
It's all resolved!
Sorry for wasting your time @BearDooks.
I did some more research and found that this was indeed an issue with Godot's internal web request handler.
I followed this tutorial to import my IT Department's certificate into GoDot's truststore, and everything works great now.
In case anyone encountering this issue finds this, I resolved this issue by following these steps (WINDOWS):

[2022-08-24 04:40] #305 closed

[2022-08-24 07:13] fenix-hub commented on #305
As a side note: since it's related to HTTP, one thing that could be tested is running the project while the certificate is untrusted, and setting the HTTPRequest Node policies to NOT verify SSL.
For example, here https://github.com/GodotNuts/GodotFirebase/blob/601d974ed268e96556e1ea0e8210e2a060cfc895/addons/godot-firebase/auth/auth.gd#L215
the third parameter, which is `true`, should be set to `fa

[2022-08-24 12:26] BearDooks commented on #305
@Kotin-for-win you didn't waste time. Glad it worked out. Sorry it was late for me last night and I ended up falling asleep.

Is it ok if I take you fix and add it to the wiki?

[2022-08-25 01:59] Kotin-for-win commented on #305
*I think step 8 should be 'rename the file from blah.cer to blah.crt' to emphasize that it is just renaming, and no file converter is needed.

[2022-08-26 14:23] adavidm opened #306 "[BUG] Firebase Function with GET method doesn't pass parameters (with possible solution)"
**Describe the bug**
I was having trouble using Firebase Functions, where the parameters are not being passed to Firebase. I think I have identified the cause.

**To Reproduce**
Steps to reproduce the behavior:
- Call a Firebase Function using the GET method with parameters.
- The parameters will not be included in the request

**Expected behavior**
A clear and concise description of what you expe

[2022-08-26 17:21] fenix-hub commented on #306
Yes indeed, your solution was the intended one.
Mind creating a pull request, if you feel like contributing?

[2022-08-26 20:26] adavidm commented on #306
sure, I've never done that before so hopefully not too difficult. Will give it a go now.

[2022-08-26 20:28] adavidm commented on #306
That's done:

https://github.com/GodotNuts/GodotFirebase/pull/307

[2022-08-29 10:44] #306 closed

[2022-09-14 13:20] OvervaultDev commented on #294
@BearDooks I should have attached a snipped before, I've changed my script a lot of times since then.
Sorry for that!

[2022-09-15 00:31] BearDooks commented on #294
@OvervaultDev no worries, is it still an issue?

[2022-10-05 21:37] WolfgangSenff commented on #294
@handre-dev - can you show us what you have connected to the firestore_task task_error signal? The method you've done that with has only three arguments to it but needs four. This was an update to help clarify what the plugin was trying to do when the errors occurred, which was lost to the winds before. I'll close this now since it's been a long time since we heard back, feel free to reopen if you

[2022-10-05 21:37] #294 closed

[2022-10-05 21:39] WolfgangSenff commented on #257
@BearDooks and @fenix-hub - any updates here? I think it just fell off our plate!

[2022-10-05 21:51] WolfgangSenff opened #312 "[FEATURE REQUEST] - Remove forced authentication...!!!"
**Is your feature request related to a problem? Please describe.**
The plugin is mature enough and our license is strong enough that we cannot be held liable should a person choose not to use authentication. This was a feature before when it was newer, just to prevent anyone from attempting to abuse us, but now it's extra. And most people know they should use authentication. Hence, we can remove t

[2022-10-05 21:52] WolfgangSenff commented on #258
Closing for now as we haven't heard back for about a year.

[2022-10-05 21:52] #258 closed

[2022-10-15 16:09] Kontrano opened #313 "[BUG] Incorrect and incomplete Wiki Information for Realtime Database"
**Describe the bug**
The wiki information on the Realtime Database implementation is outdated/incomplete namely the filter behavior as well as missing the information about the push and update commands.

**To Reproduce**
Implement the filter command from the wiki, namely this one:
`var db_ref = Firebase.Database.get_database_reference("path_to_position_in_database", { Firebase.Database.LIMIT_TO_LA

[2022-10-17 17:06] Kontrano commented on #313
As requested here is the link for that Filters seem to not be supported via the REST API
![image](https://user-images.githubusercontent.com/80490564/196239610-8a8e1341-24e7-49ba-ad6f-645c46f3d38c.png)

Source: https://firebase.google.com/docs/database/rest/retrieve-data

[2022-10-19 09:47] handre-dev commented on #182
Similar issue here, but none of the above solutions worked for me.
I have the exact same rule structure, every other read request work fine but queries. I keep getting 403.
My rules:
[code]
My query:
[code]

Also, I think I found a bug in firestore_task.gd: when returning errors (lines 158 and 164), the variable 'bod' is treated like a dictionary and asked for keys().size(), but there are no keys

[2022-10-19 11:11] WolfgangSenff opened #314 "[FEATURE REQUEST] - Remove Firestore caching by default"
**Is your feature request related to a problem? Please describe.**
Firestore caching has caused us a ton of problems, from occasionally sending people into offline mode when they shouldn't be, to just causing weird errors. We'd like to get rid of it.

**Describe the solution you'd like**
It should be easy enough to remove, or at the least just turn off by setting the flag for it to false by defaul

[2022-10-24 14:02] Tailchakra opened #315 "[BUG] task_error signal unable to convert argument from int to String"
**Describe the bug**
The addon is unable to convert an argument type during a query call on a collection. Authenticating works like a charm, however calling a collection returns the error upon `query.from`.

**Expected behavior**
I expected to grab the skill tree data from the database, instead it returned an error.

**To Reproduce**

[code]

![image](https://user-images.githubusercontent.com/2450

[2022-10-30 14:12] mthnzbk opened #316 "I can't login with google"
I can register with email and password, but I cannot login with google. With the get_google_auth_manual method, I can't see any action on either desktop or android.

[2022-11-20 11:49] Kontrano commented on #314
I Agree with this. I also had multiple issues with it and forgot that it existed and was on by default at first which caused me about a week of headaches trying to troubleshoot.

[2022-11-21 17:12] Blockyheadman commented on #316
same issue here. i can't seem to get my manual one to work correct. it just gives this result.

Error 400: invalid_request

More info: The out-of-band (OOB) flow has been blocked in order to keep users secure. Follow the Out-of-Band (OOB) flow migration guide linked in the developer docs below to migrate your app to an alternative method.
Request details: redirect_uri=urn:ietf:wg:oauth:2.0:oob

If

[2022-11-21 18:50] Blockyheadman opened #318 "[BUG] get_google_auth_manual() not functioning as inteded"
**Describe the bug**
It takes me to an error page when it opens the URL

**To Reproduce**
1. use get_google_auth_manual()
2. see error page

**Expected behavior**
Allows for the user to click on their google account and get an authorization code.

"firestore_collection.add("DOCUMENT_ID", {'name': 'Document Name', 'active': 'true'}) should add a document to my Firestore Collection"

**Screenshots**

[2022-11-22 01:36] hjiul commented on #314
I think i also run into cache trouble but im not sure.

50-70% of the time i run my request to get a document it consider i'm offline and try to go to the cache.
The auth works very well and my internet connection is fine.

The request works sometimes so its weird.
Not sure what to do but I can see that the addon considerim offline (maybe i can extend the delay to wait for a server answer or somet

[2022-11-22 01:54] WolfgangSenff commented on #314
This is exactly the issue you're running into. Go into your .env file and delete the path to the cache (leave the key but remove the value), then go find the cache itself from what you deleted and delete what's there. That will probably fix this for you.

[2022-11-22 01:55] WolfgangSenff commented on #318
Manual auth has been deprecated recently by Google for being insecure. We'll be updating the plugin to remove the possiblity of even trying to use it.

[2022-11-22 01:55] WolfgangSenff commented on #318
Will update here when we've done that.

[2022-11-22 02:00] WolfgangSenff commented on #291
Unfortunately we cannot do that - snapshots in that sense require a gRPC implementation that we can't provide. Transactions are different. They are where you open a transaction, commit some changes, and submit it all in one "action". This feature is for transactions, not for snapshot syncing. This will make it so multiple updates sent at the same time won't desync your data, which is what your ori

[2022-11-22 13:06] WolfgangSenff commented on #316
One thing to note: you can follow the automatic login found here: https://github.com/GodotNuts/GodotFirebase/wiki/Authentication-and-User-Management#login-with-oauth-automatic

And if needed go through the extra OAuth steps found here:
https://github.com/GodotNuts/GodotFirebase/wiki/Installation-and-Activation#additional-oauth-configuration

[2022-11-22 13:06] WolfgangSenff commented on #316
Going to go ahead and close this, since technically it's already handled.

[2022-11-22 13:06] WolfgangSenff commented on #318
Going to go ahead and close this, as it's already handled by the following:

https://github.com/GodotNuts/GodotFirebase/wiki/Authentication-and-User-Management#login-with-oauth-automatic

And if needed you can go through the extra OAuth steps found here:
https://github.com/GodotNuts/GodotFirebase/wiki/Installation-and-Activation#additional-oauth-configuration

[2022-11-22 13:06] #318 closed